<a href="https://colab.research.google.com/github/majorquev/DBDC_202406_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/C1/Clase_1_01_variables_y_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.

Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log()
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp()
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [ ]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.

[1] 3

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [ ]:
# Podemos definir distintas variables
v1 <- 10
v2 = 20

In [ ]:
res <- log(v1*v2 + 10)

In [ ]:
res

[1] 5.347108

In [ ]:
# strings(character)
p1 <- "hola"
p2 <- "soy miguel"

In [ ]:
p3 <- "jorquera"

In [ ]:
p1
p2
p3

[1] "hola"

[1] "soy miguel"

[1] "jorquera"

In [ ]:
# valores lógicos (logical)
TRUE
FALSE

[1] TRUE

[1] FALSE

In [ ]:
TRUE & TRUE # NOTA la conjunción lógica "y" es &
TRUE & FALSE

[1] TRUE

[1] FALSE

In [ ]:
TRUE | TRUE # NOTA la disyunción lógica "o" es |
TRUE | FALSE
FALSE | FALSE

[1] TRUE

[1] TRUE

[1] FALSE

In [ ]:
verdad <- TRUE
falso <- FALSE

In [ ]:
verdad & falso
verdad | falso

[1] FALSE

[1] TRUE

In [ ]:
# NOTA: Podemos abreviar
#TRUE como T
#FALSE como F

In [ ]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="
TRUE == T
TRUE == F
1+1 == 2
3 == 4

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

In [ ]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
3 != 4
2 != 2

In [ ]:
# "!" se utiliza para negar una expresión lógica

(T & F) | T

!((T & F) | T)

#!(pais == "CL" & region == "RM")

[1] TRUE

[1] FALSE

In [2]:
# podemos realizar comparaciones aritméticas
2 <= 5
-5 > 2

[1] TRUE

[1] FALSE

In [3]:
# NOTA:valor infinito
Inf

[1] Inf

In [7]:
Inf*Inf
9000/Inf
Inf - Inf

1/0

[1] Inf

[1] 0

[1] NaN

[1] Inf

In [9]:
4+4.15
v4 <- 3.15
v5 <- 25

v4*v5

[1] 8.15

[1] 78.75

In [18]:
# date
no_date <- "2024-06-26"
no_date

# NOTA: podemos preguntarnos por la clase del dato almacenado en una variable
class(no_date) # Esta variable es de tipo character

[1] "2024-06-26"

[1] "character"

In [21]:
# coercionamos a clase date
date1 <- as.Date(no_date)
date1

[1] "2024-06-26"

In [22]:
class(date1)

[1] "Date"

In [24]:
date1 + 5

[1] "2024-07-01"

In [27]:
# Ejemplo:; Variamos el formato de la fecha
as.Date("26_06/2024", format = "%d_%m/%Y" )

[1] "2024-06-26"

In [29]:
?as.Date
?strptime

In [32]:
# Observación: Inmutabilidad de variables en R.
x <- 10

In [33]:
y <- x

In [34]:
x <- 11

In [ ]:
# ¿Qué valor tiene y?

# en R las asignaciones por defecto se realizan por valor y no por referencia.

y <- x # acá recién vale 11
y

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [38]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

[1] "date1"   "no_date" "v4"      "v5"      "v6"      "x"       "y"

In [39]:
# remueva algunas de las variables generadas anteriormente
rm(date1)

In [40]:
date1

ERROR: Error in eval(expr, envir, enclos): object 'date1' not found

In [41]:
ls()

[1] "no_date" "v4"      "v5"      "v6"      "x"       "y"

In [43]:
rm(list = c("v4","v6","y") )

In [44]:
ls()

[1] "no_date" "v5"      "x"

In [45]:
gc()# garbage collector

       used    (Mb) gc trigger (Mb) max used (Mb)
Ncells  719744 38.5 1442828    77.1 1442828  77.1
Vcells 1346932 10.3 8388608    64.0 2245108  17.2

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [ ]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.

#blank en excel o NULL en SQL
#En R corresponde a NA

# Por otro lado tenemos los NaN que corresponden a "Not a Number" (suelen provenir de operaciones ariméticas no válidas. Ej: 0/0, Inf-Inf)

In [63]:
# para identificar un valor NA o NaN podemos utilizar la función is.na
edad <- 30

In [64]:
edad == 30

[1] TRUE

In [65]:
edad == NA

[1] NA

In [67]:
edad <- NA
edad

[1] NA

In [68]:
edad == NA

[1] NA

In [69]:
30 == NA
NA == NA

[1] NA

[1] NA

In [71]:
is.na(30)
is.na(NA)

[1] FALSE

[1] TRUE

In [73]:
is.nan(NaN)
is.nan(NA)

[1] TRUE

[1] FALSE

In [74]:
is.na(NaN)

[1] TRUE

## 2.2 Funciones
`function(param1, param2){ ...}`

In [60]:
operator <- function(a,b,c){
  muestra <- rnorm(a)
  print(muestra)
  aux <- b*muestra + c
  print(aux)
  return(sum(aux))
}

In [61]:
operator(2,1,10)

[1]  2.158872 -0.241874
[1] 12.158872  9.758126

[1] 21.917

In [56]:
suma <-function(x,y){return(x+y)}

In [57]:
suma(1,2)

[1] 3