<a href="https://colab.research.google.com/github/majorquev/DBDC_202406_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/C1/Clase_1_01_variables_y_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.

Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log()
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp()
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [ ]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.

[1] 3

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [2]:
# Podemos definir distintas variables
v1 <- 10
v2 = 20

In [4]:
res <- log(v1*v2 + 10)

In [5]:
res

[1] 5.347108

In [6]:
# strings(character)
p1 <- "hola"
p2 <- "soy miguel"

In [7]:
p3 <- "jorquera"

In [8]:
p1
p2
p3

[1] "hola"

[1] "soy miguel"

[1] "jorquera"

In [10]:
# valores lógicos (logical)
TRUE
FALSE

[1] TRUE

[1] FALSE

In [12]:
TRUE & TRUE # NOTA la conjunción lógica "y" es &
TRUE & FALSE

[1] TRUE

[1] FALSE

In [13]:
TRUE | TRUE # NOTA la disyunción lógica "o" es |
TRUE | FALSE
FALSE | FALSE

[1] TRUE

[1] TRUE

[1] FALSE

In [14]:
verdad <- TRUE
falso <- FALSE

In [15]:
verdad & falso
verdad | falso

[1] FALSE

[1] TRUE

In [ ]:
# NOTA: Podemos abreviar
#TRUE como T
#FALSE como F

In [19]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="
TRUE == T
TRUE == F
1+1 == 2
3 == 4

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

In [ ]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
3 != 4
2 != 2

In [23]:
# "!" se utiliza para negar una expresión lógica

(T & F) | T

!((T & F) | T)

#!(pais == "CL" & region == "RM")

[1] TRUE

[1] FALSE

In [ ]:
# podemos realizar comparaciones aritméticas

In [ ]:
# NOTA:valor infinito

In [ ]:
# conector lógicos ( & es el "y", | es el "o" )

In [ ]:
# date

# NOTA: podemos preguntarnos por la clase del dato almacenado en una variable


# coercionamos a clase date

In [ ]:
# Observación: Inmutabilidad de variables en R.

In [ ]:
# ¿Qué valor tiene y?
# en R las asignaciones por defecto se realizan por valor y no por referencia.

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [ ]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

In [ ]:
# remueva algunas de las variables generadas anteriormente

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [ ]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.

In [ ]:
# para identificar un valor NA o NaN podemos utilizar la función is.na