<a href="https://colab.research.google.com/github/majorquev/DBDC_202406_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/C3/Clase3_01_manipulacion_de_tablas_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 2: Manipulación de tablas en R (Parte I)


**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Rodrigo Morales<br>
**E-mail ayudante:** rumorale1@gmail.com

## 1. Instalación de librerías

En esta sección aprenderemos a realizar operaciones simples de manipulación de tablas en R. Para ello trabajaremos con la librería _dplyr_, la cual cuenta con una gran variedad de funciones para manipular tablas, entre otras.


Una manera de instalar librerías en R es me diante la función `install.packages()`, la cual recibe como argunmento principal el nombre (enre comillas) de la librería que se desea cargar.

Una vez instalada la librería la debemos cargar en la sesión de trbajao, para lo cual podemos utilizar la función `library()` la cual recibe como argumento el nombre de la librería que se quiere cargar.

In [ ]:
install.packages("tidyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
# 1. Instalación de package
# install.packages("dplyr") # No instalaremos la librería pues ya viene cargada en los notebooks de azure.Probablemente sea necesario hacerlo en su entorno local.
# Para cargar la librería
library("dplyr") # sin comillas también funciona

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## 2. Funciones básicas en dplyr

En todo proyecto analítico es necesario procesar, limpar y unificar disntintas fuentes de información para poder generar los análisis requeridos. Para dichas tareas, en la librería _dplyr_ contamos con funciones que nos permitirán filtrar datos, crear columnas, agrupar tablas, y cruzar tablas.

A continuación trabajaremos con la siguientes funciones:<br>

   `filter()`                        : Para filtrar los datos (por filas).<br>
   `arrange()`                       : Para ordenar un dataset.<br>
   `select()`                        : Para seleccionar y renombrar columnas.<br>
   `mutate()`                        : Para crear (o modificar) nuevas columnas basadas en columnas existentes.<br>
   `group_by()`                     : Para agrupar tablas.<br>
   `sample_n()` and `sample_frac()`  : Para generar muestras aleatorias<br>
   
   
Para entender el funcionamiento de estas funciones trabjaremos con el set de datos _nycflights13_, el cual contiene la información de los vuelos con salida en los aeropuertos de Nueva York en el año 2013.

## 3. Carga de datos

En R es posible cargar datos provenientes de archivos de texto plano. Un ejemplo de ellos son los de extensión *.csv (comma separated values). Para cargar los datos a la sesión, lo podemos realizar a través de la función `read.csv()`, la cual recibe como argumento principal la ruta del archivo a cargar.

In [ ]:
getwd()

[1] "/content"

In [ ]:
# Carga de datos ------
# Usaremos la función read.csv para cargar el archivo Datasets_flights.csv ubicado en "./Datasets/", y lo guardamos en una variable llamada vuelo.
airlines <- read.csv(file = "/home/test/airlines.csv")
otro <- read.csv(file = "mnist_train_small.csv")

In [ ]:
airlines
head(otro)

   carrier name
1  9E      Endeavor Air Inc.
2  AA      American Airlines Inc.
3  AS      Alaska Airlines Inc.
4  B6      JetBlue Airways
5  DL      Delta Air Lines Inc.
6  EV      ExpressJet Airlines Inc.
7  F9      Frontier Airlines Inc.
8  FL      AirTran Airways Corporation
9  HA      Hawaiian Airlines Inc.
10 MQ      Envoy Air
11 OO      SkyWest Airlines Inc.
12 UA      United Air Lines Inc.
13 US      US Airways Inc.
14 VX      Virgin America
15 WN      Southwest Airlines Co.
16 YV      Mesa Airlines Inc.

  X6 X0 X0.1 X0.2 X0.3 X0.4 X0.5 X0.6 X0.7 X0.8 ⋯ X0.581 X0.582 X0.583 X0.584
1 5  0  0    0    0    0    0    0    0    0    ⋯ 0      0      0      0
2 7  0  0    0    0    0    0    0    0    0    ⋯ 0      0      0      0
3 9  0  0    0    0    0    0    0    0    0    ⋯ 0      0      0      0
4 5  0  0    0    0    0    0    0    0    0    ⋯ 0      0      0      0
5 2  0  0    0    0    0    0    0    0    0    ⋯ 0      0      0      0
6 0  0  0    0    0    0    0    0    0    0    ⋯ 0      0      0      0
  X0.585 X0.586 X0.587 X0.588 X0.589 X0.590
1 0      0      0      0      0      0
2 0      0      0      0      0      0
3 0      0      0      0      0      0
4 0      0      0      0      0      0
5 0      0      0      0      0      0
6 0      0      0      0      0      0

In [1]:
vuelos <- read.csv(file = "https://raw.githubusercontent.com/majorquev/DBDC_202406_Programacion_en_R_para_ciencia_de_datos/main/Clases/C3/Datasets/flights.csv")

In [ ]:
# Podemos inspeccionar los datos cargados
# Para ello son de utilidad las funciones head() y summary()
head(vuelos,10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1   517      515             2         830      819
2  2013 1     1   533      529             4         850      830
3  2013 1     1   542      540             2         923      850
4  2013 1     1   544      545            -1        1004     1022
5  2013 1     1   554      600            -6         812      837
6  2013 1     1   554      558            -4         740      728
7  2013 1     1   555      600            -5         913      854
8  2013 1     1   557      600            -3         709      723
9  2013 1     1   557      600            -3         838      846
10 2013 1     1   558      600            -2         753      745
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2   20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3   33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4  -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5  -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6   12       UA      1696   N39463  EWR    ORD  150       719     5    58
7   19       B6       507   N516JB  EWR    FLL  158      1065     6     0
8  -14       EV      5708   N829AS  LGA    IAD   53       229     6     0
9   -8       B6        79   N593JB  JFK    MCO  140       944     6     0
10   8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
   time_hour
1  2013-01-01 05:00:00
2  2013-01-01 05:00:00
3  2013-01-01 05:00:00
4  2013-01-01 05:00:00
5  2013-01-01 06:00:00
6  2013-01-01 05:00:00
7  2013-01-01 06:00:00
8  2013-01-01 06:00:00
9  2013-01-01 06:00:00
10 2013-01-01 06:00:00

In [ ]:
tail(vuelos)

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
336771 2013 9     30  NA       1842           NA        NA       2019
336772 2013 9     30  NA       1455           NA        NA       1634
336773 2013 9     30  NA       2200           NA        NA       2312
336774 2013 9     30  NA       1210           NA        NA       1330
336775 2013 9     30  NA       1159           NA        NA       1344
336776 2013 9     30  NA        840           NA        NA       1020
       arr_delay carrier flight tailnum origin dest air_time distance hour
336771 NA        EV      5274   N740EV  LGA    BNA  NA       764      18
336772 NA        9E      3393   NA      JFK    DCA  NA       213      14
336773 NA        9E      3525   NA      LGA    SYR  NA       198      22
336774 NA        MQ      3461   N535MQ  LGA    BNA  NA       764      12
336775 NA        MQ      3572   N511MQ  LGA    CLE  NA       419      11
336776 NA        MQ      3531   N839MQ  LGA    RDU  NA       431       8
       minute time_hour
336771 42     2013-09-30 18:00:00
336772 55     2013-09-30 14:00:00
336773  0     2013-09-30 22:00:00
336774 10     2013-09-30 12:00:00
336775 59     2013-09-30 11:00:00
336776 40     2013-09-30 08:00:00

In [ ]:
# ¿Cuántos registros tienen las tablas?
dim(vuelos)# cantidad de Filas y columnas
nrow(vuelos)# Cantidad de filas
dim(vuelos)[1]# Cantidad de filas

[1] 336776     19

[1] 336776

[1] 336776

In [ ]:
summary(vuelos)

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute       time_hour
 Min.   : 0.00   Length:336776
 1st Qu.: 8.00   Class :character
 Median :29.00   Mode  :character
 Mean   :26.23
 3rd Qu.:44.00
 Max.   :59.00

In [ ]:
#glimpse() o str()
str(vuelos)

'data.frame':	336776 obs. of  19 variables:
 $ year          : int  2013 2013 2013 2013 2013 2013 2013 2013 2013 2013 ...
 $ month         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ day           : int  1 1 1 1 1 1 1 1 1 1 ...
 $ dep_time      : int  517 533 542 544 554 554 555 557 557 558 ...
 $ sched_dep_time: int  515 529 540 545 600 558 600 600 600 600 ...
 $ dep_delay     : int  2 4 2 -1 -6 -4 -5 -3 -3 -2 ...
 $ arr_time      : int  830 850 923 1004 812 740 913 709 838 753 ...
 $ sched_arr_time: int  819 830 850 1022 837 728 854 723 846 745 ...
 $ arr_delay     : int  11 20 33 -18 -25 12 19 -14 -8 8 ...
 $ carrier       : chr  "UA" "UA" "AA" "B6" ...
 $ flight        : int  1545 1714 1141 725 461 1696 507 5708 79 301 ...
 $ tailnum       : chr  "N14228" "N24211" "N619AA" "N804JB" ...
 $ origin        : chr  "EWR" "LGA" "JFK" "JFK" ...
 $ dest          : chr  "IAH" "IAH" "MIA" "BQN" ...
 $ air_time      : int  227 227 160 183 116 150 158 53 140 138 ...
 $ distance      : int  1400 1416 1089 1576 762 719 1065 229 944 733 ...
 $ hour          : int  5 5 5 5 6 5 6 6 6 6 ...
 $ minute        : int  15 29 40 45 0 58 0 0 0 0 ...
 $ time_hour     : chr  "2013-01-01 05:00:00" "2013-01-01 05:00:00" "2013-01-01 05:00:00" "2013-01-01 05:00:00" ...

In [ ]:
glimpse(vuelos)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <int> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <int> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <int> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <int> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <int> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <int> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <chr> "2013-01-01 05:00:00", "2013-01-01 05:00:00", "2013-01-…

In [ ]:
#NOTA: Tipo de dato _factor_

In [ ]:
ejemplo <- data.frame(letra = c("A","A","B","C","C","C","D","E","E"), ID = 1:9)

In [ ]:
ejemplo

  letra ID
1 A     1
2 A     2
3 B     3
4 C     4
5 C     5
6 C     6
7 D     7
8 E     8
9 E     9

In [ ]:
summary(ejemplo)

    letra                 ID
 Length:9           Min.   :1
 Class :character   1st Qu.:3
 Mode  :character   Median :5
                    Mean   :5
                    3rd Qu.:7
                    Max.   :9

In [ ]:
ejemplo$letra <- as.factor(ejemplo$letra)

In [ ]:
ejemplo

  letra ID
1 A     1
2 A     2
3 B     3
4 C     4
5 C     5
6 C     6
7 D     7
8 E     8
9 E     9

In [ ]:
summary(ejemplo)

 letra       ID
 A:2   Min.   :1
 B:1   1st Qu.:3
 C:3   Median :5
 D:1   Mean   :5
 E:2   3rd Qu.:7
       Max.   :9

In [ ]:
ejemplo$letra

[1] A A B C C C D E E
Levels: A B C D E

In [ ]:
ejemplo$letra <- as.character(ejemplo$letra)

In [ ]:
ejemplo

  letra ID
1 A     1
2 A     2
3 B     3
4 C     4
5 C     5
6 C     6
7 D     7
8 E     8
9 E     9

In [ ]:
summary(ejemplo)

    letra                 ID
 Length:9           Min.   :1
 Class :character   1st Qu.:3
 Mode  :character   Median :5
                    Mean   :5
                    3rd Qu.:7
                    Max.   :9

## 4. Funciones básicas de dplyr

A continuación exploraremos los datos de vuelos utilizando la librería dplyr.

### 4.1 Función filter()

La función filter() de dplyr es el equivalente a la sentencia where de sql.

In [ ]:
names(vuelos)

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

In [ ]:
# filter() # where de sql----------------------------------------------------------------
# Registros que tengan fecha 31 de diciembre
# Antes
vuelos[vuelos$month == 12 & vuelos$day == 31,]

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
110521 2013 12    31   13      2359            14        439      437
110522 2013 12    31   18      2359            19        449      444
110523 2013 12    31   26      2245           101        129     2353
110524 2013 12    31  459       500            -1        655      651
110525 2013 12    31  514       515            -1        814      812
110526 2013 12    31  549       551            -2        925      900
110527 2013 12    31  550       600           -10        725      745
110528 2013 12    31  552       600            -8        811      826
110529 2013 12    31  553       600            -7        741      754
110530 2013 12    31  554       550             4       1024     1027
110531 2013 12    31  555       600            -5        901      849
110532 2013 12    31  555       600            -5        835      831
110533 2013 12    31  555       551             4        853      851
110534 2013 12    31  556       600            -4        909      846
110535 2013 12    31  556       605            -9        808      814
110536 2013 12    31  557       603            -6        719      719
110537 2013 12    31  558       600            -2        919      905
110538 2013 12    31  559       600            -1        917      855
110539 2013 12    31  600       540            20        928      850
110540 2013 12    31  602       605            -3        744      805
110541 2013 12    31  602       605            -3        708      723
110542 2013 12    31  603       611            -8       1045     1055
110543 2013 12    31  607       600             7        848      825
110544 2013 12    31  608       615            -7        812      818
110545 2013 12    31  609       610            -1        911      915
110546 2013 12    31  609       615            -6        848      850
110547 2013 12    31  609       614            -5        755      751
110548 2013 12    31  610       615            -5        828      849
110549 2013 12    31  616       611             5        933      912
110550 2013 12    31  616       630           -14        922      919
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
111267 2013 12    31  2155     2039            76        253     2355
111268 2013 12    31  2155     2150             5        110       51
111269 2013 12    31  2159     2155             4         55       46
111270 2013 12    31  2206     2110            56         44     2339
111271 2013 12    31  2211     2159            12        100       45
111272 2013 12    31  2218     2219            -1        315      304
111273 2013 12    31  2235     2245           -10       2351     2355
111274 2013 12    31  2245     2250            -5       2359     2356
111275 2013 12    31  2310     2255            15          7     2356
111276 2013 12    31  2321     2250            31         46        8
111277 2013 12    31  2328     2330            -2        412      409
111278 2013 12    31  2332     2245            47         58        3
111279 2013 12    31  2355     2359            -4        430      440
111280 2013 12    31  2356     2359            -3        436      445
111281 2013 12    31    NA     1520            NA         NA     1705
111282 2013 12    31    NA     2025            NA         NA     2205
111283 2013 12    31    NA     1932            NA         NA     2305
111284 2013 12    31    NA     1505            NA         NA     1725
111285 2013 12    31    NA     1000            NA         NA     1252
111286 2013 12    31    NA      840            NA         NA     1205
111287 2013 12    31    NA      754            NA         NA     1118
111288 2013 12    31    NA     2000            NA         NA     2146
111289 2013 12    31    NA     1500            NA         NA     1817
111290 2013 12    31    NA     1430            NA         NA     1750
111291 2013 12    31    NA      855            NA         NA     1142
111292 2013 12    31    NA      705            NA         NA      931
111293 2013 12    31    NA      825            NA         NA     1029
111294 2013 12    31    NA     1615            NA         NA     1800
111295 2013 12    31    NA      600            NA         NA      735
111296 2013 12    31    NA      830            NA         NA     1154
       arr_delay carrier flight tailnum origin dest air_time distance hour
110521   2       B6       839   N566JB  JFK    BQN  189      1576     23
110522   5       DL       412   N713TW  JFK    SJU  192      1598     23
110523  96       B6       108   N374JB  JFK    PWM   50       273     22
110524   4       US      1895   N557UW  EWR    CLT   95       529      5
110525   2       UA       700   N470UA  EWR    IAH  223      1400      5
110526  25       UA       274   N577UA  EWR    LAX  346      2454      5
110527 -20       AA       301   N3CXAA  LGA    ORD  127       733      6
110528 -15       EV      3825   N14916  EWR    IND  118       645      6
110529 -13       DL       731   N333NB  LGA    DTW   86       502      6
110530  -3       B6       939   N552JB  JFK    BQN  195      1576      5
110531  12       B6       353   N746JB  JFK    PBI  167      1028      6
110532   4       DL       904   N3741S  LGA    ATL  137       762      6
110533   2       UA       566   N491UA  EWR    TPA  164       997      5
110534  23       B6       583   N715JB  JFK    MCO  162       944      6
110535  -6       DL      1919   N958DL  LGA    MSP  160      1020      6
110536   0       EV      4241   N15574  EWR    DCA   45       199      6
110537  14       AA      1175   N3JEAA  LGA    MIA  173      1096      6
110538  22       B6       605   N597JB  EWR    FLL  167      1065      6
110539  38       AA      2243   N5EMAA  JFK    MIA  171      1089      5
110540 -21       DL      2505   N358NB  EWR    DTW   87       488      6
110541 -15       EV      6177   N14543  EWR    IAD   45       212      6
110542 -10       B6      1403   N547JB  JFK    SJU  198      1598      6
110543  23       WN      1716   N7740A  LGA    ATL  137       762      6
110544  -6       US      1963   N192UW  EWR    CLT  106       529      6
110545  -4       AA      1205   N5DHAA  EWR    MIA  163      1085      6
110546  -2       DL       404   N392DA  JFK    ATL  133       760      6
110547   4       EV      3812   N13994  EWR    RDU   81       416      6
110548 -21       DL       479   N3766   JFK    ATL  119       760      6
110549  21       B6       601   N643JB  JFK    FLL  173      1069      6
110550   3       B6      1099   N563JB  LGA    MCO  159       950      6
⋮      ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮
111267  NA       B6      1205   N627JB  JFK    PDX   NA      2454     20
111268  19       B6      1901   N729JB  JFK    FLL  164      1069     21
111269   9       B6      2053   N593JB  JFK    PBI  155      1028     21
111270  65       B6       775   N184JB  JFK    MSY  195      1182     21
111271  15       B6      1183   N715JB  JFK    MCO  148       944     21
111272  11       B6      1203   N625JB  JFK    SJU  202      1598     22
111273  -4       B6       234   N355JB  JFK    BTV   49       266     22
111274   3       B6      1816   N318JB  JFK    SYR   51       209     22
111275  11       B6       718   N279JB  JFK    BOS   40       187     22
111276  38       B6      2002   N179JB  JFK    BUF   66       301     22
111277   3       B6      1389   N651JB  EWR    SJU  198      1608     23
111278  55       B6       486   N334JB  JFK    ROC   60       264     22
111279 -10       B6      1503   N509JB  JFK    SJU  195      1598     23
111280  -9       B6       745   N665JB  JFK    PSE  200      1617     23
111281  NA       AA       341   N568AA  LGA    ORD   NA       733     15
111282  NA       AA       371   N482AA  LGA    ORD   NA       733     20
111283  NA       B6       161   N516JB  JFK    SMF   NA      2521     19
111284  NA       EV      4181   N24103  EWR    MCI   NA      1092     15
111285  NA       UA      1124   NA      EWR    EGE   NA      1725     10
111286  NA       UA      1151   NA      EWR    SEA   NA      2402      8
111287  NA       UA      1455   NA      EWR    LAX   NA      2454      7
111288  NA       UA      1482   NA      EWR    ORD   NA       719     20
111289  NA       UA      1483   NA      EWR    AUS   NA      1504     15
111290  NA       UA      1493   NA      EWR    LAX   NA      2454     14
111291  NA       UA      1506   NA      EWR    JAC   NA      1874      8
111292  NA       UA      1729   NA      EWR    DEN   NA      1605      7
111293  NA       US      1831   NA      JFK    CLT   NA       541      8
111294  NA       MQ      3301   N844MQ  LGA    RDU   NA       431     16
111295  NA       UA       219   NA      EWR    ORD   NA       719      6
111296  NA       UA       443   NA      JFK    LAX   NA      2475      8
       minute time_hour
110521 59     2013-12-31 23:00:00
110522 59     2013-12-31 23:00:00
110523 45     2013-12-31 22:00:00
110524  0     2013-12-31 05:00:00
110525 15     2013-12-31 05:00:00
110526 51     2013-12-31 05:00:00
110527  0     2013-12-31 06:00:00
110528  0     2013-12-31 06:00:00
110529  0     2013-12-31 06:00:00
110530 50     2013-12-31 05:00:00
110531  0     2013-12-31 06:00:00
110532  0     2013-12-31 06:00:00
110533 51     2013-12-31 05:00:00
110534  0     2013-12-31 06:00:00
110535  5     2013-12-31 06:00:00
110536  3     2013-12-31 06:00:00
110537  0     2013-12-31 06:00:00
110538  0     2013-12-31 06:00:00
110539 40     2013-12-31 05:00:00
110540  5     2013-12-31 06:00:00
110541  5     2013-12-31 06:00:00
110542 11     2013-12-31 06:00:00
110543  0     2013-12-31 06:00:00
110544 15     2013-12-31 06:00:00
110545 10     2013-12-31 06:00:00
110546 15     2013-12-31 06:00:00
110547 14     2013-12-31 06:00:00
110548 15     2013-12-31 06:00:00
110549 11     2013-12-31 06:00:00
110550 30     2013-12-31 06:00:00
⋮      ⋮      ⋮
111267 39     2013-12-31 20:00:00
111268 50     2013-12-31 21:00:00
111269 55     2013-12-31 21:00:00
111270 10     2013-12-31 21:00:00
111271 59     2013-12-31 21:00:00
111272 19     2013-12-31 22:00:00
111273 45     2013-12-31 22:00:00
111274 50     2013-12-31 22:00:00
111275 55     2013-12-31 22:00:00
111276 50     2013-12-31 22:00:00
111277 30     2013-12-31 23:00:00
111278 45     2013-12-31 22:00:00
111279 59     2013-12-31 23:00:00
111280 59     2013-12-31 23:00:00
111281 20     2013-12-31 15:00:00
111282 25     2013-12-31 20:00:00
111283 32     2013-12-31 19:00:00
111284  5     2013-12-31 15:00:00
111285  0     2013-12-31 10:00:00
111286 40     2013-12-31 08:00:00
111287 54     2013-12-31 07:00:00
111288  0     2013-12-31 20:00:00
111289  0     2013-12-31 15:00:00
111290 30     2013-12-31 14:00:00
111291 55     2013-12-31 08:00:00
111292  5     2013-12-31 07:00:00
111293 25     2013-12-31 08:00:00
111294 15     2013-12-31 16:00:00
111295  0     2013-12-31 06:00:00
111296 30     2013-12-31 08:00:00

In [ ]:
# Ahora
filter(vuelos, month == 12 & day == 31)

    year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1   2013 12    31   13      2359            14        439      437
2   2013 12    31   18      2359            19        449      444
3   2013 12    31   26      2245           101        129     2353
4   2013 12    31  459       500            -1        655      651
5   2013 12    31  514       515            -1        814      812
6   2013 12    31  549       551            -2        925      900
7   2013 12    31  550       600           -10        725      745
8   2013 12    31  552       600            -8        811      826
9   2013 12    31  553       600            -7        741      754
10  2013 12    31  554       550             4       1024     1027
11  2013 12    31  555       600            -5        901      849
12  2013 12    31  555       600            -5        835      831
13  2013 12    31  555       551             4        853      851
14  2013 12    31  556       600            -4        909      846
15  2013 12    31  556       605            -9        808      814
16  2013 12    31  557       603            -6        719      719
17  2013 12    31  558       600            -2        919      905
18  2013 12    31  559       600            -1        917      855
19  2013 12    31  600       540            20        928      850
20  2013 12    31  602       605            -3        744      805
21  2013 12    31  602       605            -3        708      723
22  2013 12    31  603       611            -8       1045     1055
23  2013 12    31  607       600             7        848      825
24  2013 12    31  608       615            -7        812      818
25  2013 12    31  609       610            -1        911      915
26  2013 12    31  609       615            -6        848      850
27  2013 12    31  609       614            -5        755      751
28  2013 12    31  610       615            -5        828      849
29  2013 12    31  616       611             5        933      912
30  2013 12    31  616       630           -14        922      919
⋮   ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
747 2013 12    31  2155     2039            76        253     2355
748 2013 12    31  2155     2150             5        110       51
749 2013 12    31  2159     2155             4         55       46
750 2013 12    31  2206     2110            56         44     2339
751 2013 12    31  2211     2159            12        100       45
752 2013 12    31  2218     2219            -1        315      304
753 2013 12    31  2235     2245           -10       2351     2355
754 2013 12    31  2245     2250            -5       2359     2356
755 2013 12    31  2310     2255            15          7     2356
756 2013 12    31  2321     2250            31         46        8
757 2013 12    31  2328     2330            -2        412      409
758 2013 12    31  2332     2245            47         58        3
759 2013 12    31  2355     2359            -4        430      440
760 2013 12    31  2356     2359            -3        436      445
761 2013 12    31    NA     1520            NA         NA     1705
762 2013 12    31    NA     2025            NA         NA     2205
763 2013 12    31    NA     1932            NA         NA     2305
764 2013 12    31    NA     1505            NA         NA     1725
765 2013 12    31    NA     1000            NA         NA     1252
766 2013 12    31    NA      840            NA         NA     1205
767 2013 12    31    NA      754            NA         NA     1118
768 2013 12    31    NA     2000            NA         NA     2146
769 2013 12    31    NA     1500            NA         NA     1817
770 2013 12    31    NA     1430            NA         NA     1750
771 2013 12    31    NA      855            NA         NA     1142
772 2013 12    31    NA      705            NA         NA      931
773 2013 12    31    NA      825            NA         NA     1029
774 2013 12    31    NA     1615            NA         NA     1800
775 2013 12    31    NA      600            NA         NA      735
776 2013 12    31    NA      830            NA         NA     1154
    arr_delay carrier flight tailnum origin dest air_time distance hour minute
1     2       B6       839   N566JB  JFK    BQN  189      1576     23   59
2     5       DL       412   N713TW  JFK    SJU  192      1598     23   59
3    96       B6       108   N374JB  JFK    PWM   50       273     22   45
4     4       US      1895   N557UW  EWR    CLT   95       529      5    0
5     2       UA       700   N470UA  EWR    IAH  223      1400      5   15
6    25       UA       274   N577UA  EWR    LAX  346      2454      5   51
7   -20       AA       301   N3CXAA  LGA    ORD  127       733      6    0
8   -15       EV      3825   N14916  EWR    IND  118       645      6    0
9   -13       DL       731   N333NB  LGA    DTW   86       502      6    0
10   -3       B6       939   N552JB  JFK    BQN  195      1576      5   50
11   12       B6       353   N746JB  JFK    PBI  167      1028      6    0
12    4       DL       904   N3741S  LGA    ATL  137       762      6    0
13    2       UA       566   N491UA  EWR    TPA  164       997      5   51
14   23       B6       583   N715JB  JFK    MCO  162       944      6    0
15   -6       DL      1919   N958DL  LGA    MSP  160      1020      6    5
16    0       EV      4241   N15574  EWR    DCA   45       199      6    3
17   14       AA      1175   N3JEAA  LGA    MIA  173      1096      6    0
18   22       B6       605   N597JB  EWR    FLL  167      1065      6    0
19   38       AA      2243   N5EMAA  JFK    MIA  171      1089      5   40
20  -21       DL      2505   N358NB  EWR    DTW   87       488      6    5
21  -15       EV      6177   N14543  EWR    IAD   45       212      6    5
22  -10       B6      1403   N547JB  JFK    SJU  198      1598      6   11
23   23       WN      1716   N7740A  LGA    ATL  137       762      6    0
24   -6       US      1963   N192UW  EWR    CLT  106       529      6   15
25   -4       AA      1205   N5DHAA  EWR    MIA  163      1085      6   10
26   -2       DL       404   N392DA  JFK    ATL  133       760      6   15
27    4       EV      3812   N13994  EWR    RDU   81       416      6   14
28  -21       DL       479   N3766   JFK    ATL  119       760      6   15
29   21       B6       601   N643JB  JFK    FLL  173      1069      6   11
30    3       B6      1099   N563JB  LGA    MCO  159       950      6   30
⋮   ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮    ⋮
747  NA       B6      1205   N627JB  JFK    PDX   NA      2454     20   39
748  19       B6      1901   N729JB  JFK    FLL  164      1069     21   50
749   9       B6      2053   N593JB  JFK    PBI  155      1028     21   55
750  65       B6       775   N184JB  JFK    MSY  195      1182     21   10
751  15       B6      1183   N715JB  JFK    MCO  148       944     21   59
752  11       B6      1203   N625JB  JFK    SJU  202      1598     22   19
753  -4       B6       234   N355JB  JFK    BTV   49       266     22   45
754   3       B6      1816   N318JB  JFK    SYR   51       209     22   50
755  11       B6       718   N279JB  JFK    BOS   40       187     22   55
756  38       B6      2002   N179JB  JFK    BUF   66       301     22   50
757   3       B6      1389   N651JB  EWR    SJU  198      1608     23   30
758  55       B6       486   N334JB  JFK    ROC   60       264     22   45
759 -10       B6      1503   N509JB  JFK    SJU  195      1598     23   59
760  -9       B6       745   N665JB  JFK    PSE  200      1617     23   59
761  NA       AA       341   N568AA  LGA    ORD   NA       733     15   20
762  NA       AA       371   N482AA  LGA    ORD   NA       733     20   25
763  NA       B6       161   N516JB  JFK    SMF   NA      2521     19   32
764  NA       EV      4181   N24103  EWR    MCI   NA      1092     15    5
765  NA       UA      1124   NA      EWR    EGE   NA      1725     10    0
766  NA       UA      1151   NA      EWR    SEA   NA      2402      8   40
767  NA       UA      1455   NA      EWR    LAX   NA      2454      7   54
768  NA       UA      1482   NA      EWR    ORD   NA       719     20    0
769  NA       UA      1483   NA      EWR    AUS   NA      1504     15    0
770  NA       UA      1493   NA      EWR    LAX   NA      2454     14   30
771  NA       UA      1506   NA      EWR    JAC   NA      1874      8   55
772  NA       UA      1729   NA      EWR    DEN   NA      1605      7    5
773  NA       US      1831   NA      JFK    CLT   NA       541      8   25
774  NA       MQ      3301   N844MQ  LGA    RDU   NA       431     16   15
775  NA       UA       219   NA      EWR    ORD   NA       719      6    0
776  NA       UA       443   NA      JFK    LAX   NA      2475      8   30
    time_hour
1   2013-12-31 23:00:00
2   2013-12-31 23:00:00
3   2013-12-31 22:00:00
4   2013-12-31 05:00:00
5   2013-12-31 05:00:00
6   2013-12-31 05:00:00
7   2013-12-31 06:00:00
8   2013-12-31 06:00:00
9   2013-12-31 06:00:00
10  2013-12-31 05:00:00
11  2013-12-31 06:00:00
12  2013-12-31 06:00:00
13  2013-12-31 05:00:00
14  2013-12-31 06:00:00
15  2013-12-31 06:00:00
16  2013-12-31 06:00:00
17  2013-12-31 06:00:00
18  2013-12-31 06:00:00
19  2013-12-31 05:00:00
20  2013-12-31 06:00:00
21  2013-12-31 06:00:00
22  2013-12-31 06:00:00
23  2013-12-31 06:00:00
24  2013-12-31 06:00:00
25  2013-12-31 06:00:00
26  2013-12-31 06:00:00
27  2013-12-31 06:00:00
28  2013-12-31 06:00:00
29  2013-12-31 06:00:00
30  2013-12-31 06:00:00
⋮   ⋮
747 2013-12-31 20:00:00
748 2013-12-31 21:00:00
749 2013-12-31 21:00:00
750 2013-12-31 21:00:00
751 2013-12-31 21:00:00
752 2013-12-31 22:00:00
753 2013-12-31 22:00:00
754 2013-12-31 22:00:00
755 2013-12-31 22:00:00
756 2013-12-31 22:00:00
757 2013-12-31 23:00:00
758 2013-12-31 22:00:00
759 2013-12-31 23:00:00
760 2013-12-31 23:00:00
761 2013-12-31 15:00:00
762 2013-12-31 20:00:00
763 2013-12-31 19:00:00
764 2013-12-31 15:00:00
765 2013-12-31 10:00:00
766 2013-12-31 08:00:00
767 2013-12-31 07:00:00
768 2013-12-31 20:00:00
769 2013-12-31 15:00:00
770 2013-12-31 14:00:00
771 2013-12-31 08:00:00
772 2013-12-31 07:00:00
773 2013-12-31 08:00:00
774 2013-12-31 16:00:00
775 2013-12-31 06:00:00
776 2013-12-31 08:00:00

### 4.2 Función count()

Como su nombre lo indica, esta función nos permite contar registros de una tabla. Es de suma utilidad cuando se utiliza dentro de agrupaciones de tablas. Estas últimas las veremos más adelante.

Alternativamente, en la librería _dplyr_, contamos con la función `N()` la cual también retorna el conteo de registros.

In [ ]:
# count() y N() ----------------------------------------------------------------

count(vuelos)

  n
1 336776

In [ ]:
count(vuelos, origin)# podemos generar conteos agrupados por las categorias de alguna de las columnas

  origin n
1 EWR    120835
2 JFK    111279
3 LGA    104662

In [ ]:
resumen <- count(vuelos, origin, carrier)# podemos generar conteos agrupados por las categorias de más de una columna

In [ ]:
head(resumen)

  origin carrier n
1 EWR    9E       1268
2 EWR    AA       3487
3 EWR    AS        714
4 EWR    B6       6557
5 EWR    DL       4342
6 EWR    EV      43939

In [ ]:
# ¿Cuántos vuelos hay registrados para el 25 de dic?¿y el primero de enero?
count(filter(vuelos, month == 12 & day == 25)) # Una opcíon es filtrar y luego contar
count(filter(vuelos, month == 1 & day == 1))

  n
1 719

  n
1 842

In [ ]:
# Otra opción podría ser contar por día y mes, y luego filtrar
vuelos_mes_dia <- count(vuelos, month, day)

In [ ]:
filter(vuelos_mes_dia, (month == 12 & day == 25) | (month == 1 & day == 1)  )
# El 25 de dic se registraron 719 vuelos, minetras que .... enero 842.

  month day n
1  1     1  842
2 12    25  719

In [ ]:
#si quisiéramos guardar resgidtros en el disco, una manera es usando write.csv()
write.csv(vuelos_mes_dia, file = "resumen1.csv")

In [ ]:
write.csv(vuelos_mes_dia, file = "../home/test/resumen2.csv")

In [ ]:
getwd()

[1] "/content"

In [ ]:
# ¿Cuántos vuelos hay registrados entre julio y noviembre?
nrow(filter(vuelos, month >= 7 & month <= 11))# hay 142483 vuelos.

[1] 142483

In [ ]:
# ¿Qué porcentaje de vuelos tienen un retraso  (de salida o llegada) mayor a una hora?

#columnas arr_delay o dep_delay

In [ ]:
# ¿Cuántos vuelos llegaron con al menos dos horas de retraso pero no se retrasaron al partir?

### 4.3 Función arrange()

Esta función nos permite ordernar registros basándose en la indexación de alguna columna. Es el equivalente a la sentencia `order by` en sql.
Esta función recibe como argumento principal un dataset a ordenar, y los nombres de las columnas por las cuales se quiere ordenar. Para más información consultar la ayuda de esta función (?arrange)

In [ ]:
# arrange() ----------------------------------------------------------------
# Ejemplo, podemos ordenar la data vuelos por mes y arr_delay
arrange(vuelos, month)# primero por mes

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1     1   517      515             2         830      819
2      2013 1     1   533      529             4         850      830
3      2013 1     1   542      540             2         923      850
4      2013 1     1   544      545            -1        1004     1022
5      2013 1     1   554      600            -6         812      837
6      2013 1     1   554      558            -4         740      728
7      2013 1     1   555      600            -5         913      854
8      2013 1     1   557      600            -3         709      723
9      2013 1     1   557      600            -3         838      846
10     2013 1     1   558      600            -2         753      745
11     2013 1     1   558      600            -2         849      851
12     2013 1     1   558      600            -2         853      856
13     2013 1     1   558      600            -2         924      917
14     2013 1     1   558      600            -2         923      937
15     2013 1     1   559      600            -1         941      910
16     2013 1     1   559      559             0         702      706
17     2013 1     1   559      600            -1         854      902
18     2013 1     1   600      600             0         851      858
19     2013 1     1   600      600             0         837      825
20     2013 1     1   601      600             1         844      850
21     2013 1     1   602      610            -8         812      820
22     2013 1     1   602      605            -3         821      805
23     2013 1     1   606      610            -4         858      910
24     2013 1     1   606      610            -4         837      845
25     2013 1     1   607      607             0         858      915
26     2013 1     1   608      600             8         807      735
27     2013 1     1   611      600            11         945      931
28     2013 1     1   613      610             3         925      921
29     2013 1     1   615      615             0        1039     1100
30     2013 1     1   615      615             0         833      842
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
336747 2013 12    31  2155     2039            76        253     2355
336748 2013 12    31  2155     2150             5        110       51
336749 2013 12    31  2159     2155             4         55       46
336750 2013 12    31  2206     2110            56         44     2339
336751 2013 12    31  2211     2159            12        100       45
336752 2013 12    31  2218     2219            -1        315      304
336753 2013 12    31  2235     2245           -10       2351     2355
336754 2013 12    31  2245     2250            -5       2359     2356
336755 2013 12    31  2310     2255            15          7     2356
336756 2013 12    31  2321     2250            31         46        8
336757 2013 12    31  2328     2330            -2        412      409
336758 2013 12    31  2332     2245            47         58        3
336759 2013 12    31  2355     2359            -4        430      440
336760 2013 12    31  2356     2359            -3        436      445
336761 2013 12    31    NA     1520            NA         NA     1705
336762 2013 12    31    NA     2025            NA         NA     2205
336763 2013 12    31    NA     1932            NA         NA     2305
336764 2013 12    31    NA     1505            NA         NA     1725
336765 2013 12    31    NA     1000            NA         NA     1252
336766 2013 12    31    NA      840            NA         NA     1205
336767 2013 12    31    NA      754            NA         NA     1118
336768 2013 12    31    NA     2000            NA         NA     2146
336769 2013 12    31    NA     1500            NA         NA     1817
336770 2013 12    31    NA     1430            NA         NA     1750
336771 2013 12    31    NA      855            NA         NA     1142
336772 2013 12    31    NA      705            NA         NA      931
336773 2013 12    31    NA      825            NA         NA     1029
336774 2013 12    31    NA     1615            NA         NA     1800
336775 2013 12    31    NA      600            NA         NA      735
336776 2013 12    31    NA      830            NA         NA     1154
       arr_delay carrier flight tailnum origin dest air_time distance hour
1       11       UA      1545   N14228  EWR    IAH  227      1400     5
2       20       UA      1714   N24211  LGA    IAH  227      1416     5
3       33       AA      1141   N619AA  JFK    MIA  160      1089     5
4      -18       B6       725   N804JB  JFK    BQN  183      1576     5
5      -25       DL       461   N668DN  LGA    ATL  116       762     6
6       12       UA      1696   N39463  EWR    ORD  150       719     5
7       19       B6       507   N516JB  EWR    FLL  158      1065     6
8      -14       EV      5708   N829AS  LGA    IAD   53       229     6
9       -8       B6        79   N593JB  JFK    MCO  140       944     6
10       8       AA       301   N3ALAA  LGA    ORD  138       733     6
11      -2       B6        49   N793JB  JFK    PBI  149      1028     6
12      -3       B6        71   N657JB  JFK    TPA  158      1005     6
13       7       UA       194   N29129  JFK    LAX  345      2475     6
14     -14       UA      1124   N53441  EWR    SFO  361      2565     6
15      31       AA       707   N3DUAA  LGA    DFW  257      1389     6
16      -4       B6      1806   N708JB  JFK    BOS   44       187     5
17      -8       UA      1187   N76515  EWR    LAS  337      2227     6
18      -7       B6       371   N595JB  LGA    FLL  152      1076     6
19      12       MQ      4650   N542MQ  LGA    ATL  134       762     6
20      -6       B6       343   N644JB  EWR    PBI  147      1023     6
21      -8       DL      1919   N971DL  LGA    MSP  170      1020     6
22      16       MQ      4401   N730MQ  LGA    DTW  105       502     6
23     -12       AA      1895   N633AA  EWR    MIA  152      1085     6
24      -8       DL      1743   N3739P  JFK    ATL  128       760     6
25     -17       UA      1077   N53442  EWR    MIA  157      1085     6
26      32       MQ      3768   N9EAMQ  EWR    ORD  139       719     6
27      14       UA       303   N532UA  JFK    SFO  366      2586     6
28       4       B6       135   N635JB  JFK    RSW  175      1074     6
29     -21       B6       709   N794JB  JFK    SJU  182      1598     6
30      -9       DL       575   N326NB  EWR    ATL  120       746     6
⋮      ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮
336747  NA       B6      1205   N627JB  JFK    PDX   NA      2454     20
336748  19       B6      1901   N729JB  JFK    FLL  164      1069     21
336749   9       B6      2053   N593JB  JFK    PBI  155      1028     21
336750  65       B6       775   N184JB  JFK    MSY  195      1182     21
336751  15       B6      1183   N715JB  JFK    MCO  148       944     21
336752  11       B6      1203   N625JB  JFK    SJU  202      1598     22
336753  -4       B6       234   N355JB  JFK    BTV   49       266     22
336754   3       B6      1816   N318JB  JFK    SYR   51       209     22
336755  11       B6       718   N279JB  JFK    BOS   40       187     22
336756  38       B6      2002   N179JB  JFK    BUF   66       301     22
336757   3       B6      1389   N651JB  EWR    SJU  198      1608     23
336758  55       B6       486   N334JB  JFK    ROC   60       264     22
336759 -10       B6      1503   N509JB  JFK    SJU  195      1598     23
336760  -9       B6       745   N665JB  JFK    PSE  200      1617     23
336761  NA       AA       341   N568AA  LGA    ORD   NA       733     15
336762  NA       AA       371   N482AA  LGA    ORD   NA       733     20
336763  NA       B6       161   N516JB  JFK    SMF   NA      2521     19
336764  NA       EV      4181   N24103  EWR    MCI   NA      1092     15
336765  NA       UA      1124   NA      EWR    EGE   NA      1725     10
336766  NA       UA      1151   NA      EWR    SEA   NA      2402      8
336767  NA       UA      1455   NA      EWR    LAX   NA      2454      7
336768  NA       UA      1482   NA      EWR    ORD   NA       719     20
336769  NA       UA      1483   NA      EWR    AUS   NA      1504     15
336770  NA       UA      1493   NA      EWR    LAX   NA      2454     14
336771  NA       UA      1506   NA      EWR    JAC   NA      1874      8
336772  NA       UA      1729   NA      EWR    DEN   NA      1605      7
336773  NA       US      1831   NA      JFK    CLT   NA       541      8
336774  NA       MQ      3301   N844MQ  LGA    RDU   NA       431     16
336775  NA       UA       219   NA      EWR    ORD   NA       719      6
336776  NA       UA       443   NA      JFK    LAX   NA      2475      8
       minute time_hour
1      15     2013-01-01 05:00:00
2      29     2013-01-01 05:00:00
3      40     2013-01-01 05:00:00
4      45     2013-01-01 05:00:00
5       0     2013-01-01 06:00:00
6      58     2013-01-01 05:00:00
7       0     2013-01-01 06:00:00
8       0     2013-01-01 06:00:00
9       0     2013-01-01 06:00:00
10      0     2013-01-01 06:00:00
11      0     2013-01-01 06:00:00
12      0     2013-01-01 06:00:00
13      0     2013-01-01 06:00:00
14      0     2013-01-01 06:00:00
15      0     2013-01-01 06:00:00
16     59     2013-01-01 05:00:00
17      0     2013-01-01 06:00:00
18      0     2013-01-01 06:00:00
19      0     2013-01-01 06:00:00
20      0     2013-01-01 06:00:00
21     10     2013-01-01 06:00:00
22      5     2013-01-01 06:00:00
23     10     2013-01-01 06:00:00
24     10     2013-01-01 06:00:00
25      7     2013-01-01 06:00:00
26      0     2013-01-01 06:00:00
27      0     2013-01-01 06:00:00
28     10     2013-01-01 06:00:00
29     15     2013-01-01 06:00:00
30     15     2013-01-01 06:00:00
⋮      ⋮      ⋮
336747 39     2013-12-31 20:00:00
336748 50     2013-12-31 21:00:00
336749 55     2013-12-31 21:00:00
336750 10     2013-12-31 21:00:00
336751 59     2013-12-31 21:00:00
336752 19     2013-12-31 22:00:00
336753 45     2013-12-31 22:00:00
336754 50     2013-12-31 22:00:00
336755 55     2013-12-31 22:00:00
336756 50     2013-12-31 22:00:00
336757 30     2013-12-31 23:00:00
336758 45     2013-12-31 22:00:00
336759 59     2013-12-31 23:00:00
336760 59     2013-12-31 23:00:00
336761 20     2013-12-31 15:00:00
336762 25     2013-12-31 20:00:00
336763 32     2013-12-31 19:00:00
336764  5     2013-12-31 15:00:00
336765  0     2013-12-31 10:00:00
336766 40     2013-12-31 08:00:00
336767 54     2013-12-31 07:00:00
336768  0     2013-12-31 20:00:00
336769  0     2013-12-31 15:00:00
336770 30     2013-12-31 14:00:00
336771 55     2013-12-31 08:00:00
336772  5     2013-12-31 07:00:00
336773 25     2013-12-31 08:00:00
336774 15     2013-12-31 16:00:00
336775  0     2013-12-31 06:00:00
336776 30     2013-12-31 08:00:00

In [ ]:
arrange(vuelos, month, arr_delay)

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1      4  1026     1030            -4       1305     1415
2      2013 1      3   941      945            -4       1153     1258
3      2013 1     14  1840     1845            -5       2117     2221
4      2013 1      3  1153     1200            -7       1442     1545
5      2013 1      3  1228     1235            -7       1503     1606
6      2013 1     27  1845     1850            -5       2110     2212
7      2013 1      3  1605     1610            -5       1816     1917
8      2013 1      3  1857     1900            -3       2200     2301
9      2013 1      4  1219     1221            -2       1454     1555
10     2013 1      6   812      819            -7       1102     1203
11     2013 1     12   913      920            -7       1347     1448
12     2013 1      3  1920     1920             0       2158     2258
13     2013 1      2   654      700            -6        946     1045
14     2013 1      3  1626     1630            -4       1853     1952
15     2013 1     27  1839     1845            -6       2038     2137
16     2013 1     26  1651     1659            -8       1946     2044
17     2013 1      2   857      900            -3       1130     1227
18     2013 1      3  1957     1945            12       2232     2329
19     2013 1      4   650      655            -5        933     1030
20     2013 1      4   829      830            -1       1113     1210
21     2013 1      4  1657     1700            -3       1952     2049
22     2013 1     30  1915     1915             0       2133     2230
23     2013 1      3  1806     1810            -4       2036     2132
24     2013 1      3  1919     1920            -1       2219     2315
25     2013 1     14  1838     1850           -12       2116     2212
26     2013 1      2  1240     1245            -5       1521     1616
27     2013 1      4  1118     1130           -12       1350     1445
28     2013 1      8  1847     1850            -3       2117     2212
29     2013 1     11  1845     1850            -5       2117     2212
30     2013 1     13   723      730            -7       1020     1115
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
336747 2013 12    30    NA     1635           NA         NA      1825
336748 2013 12    30    NA      600           NA         NA       855
336749 2013 12    30    NA     1430           NA         NA      1626
336750 2013 12    30    NA     1350           NA         NA      1602
336751 2013 12    30    NA     1452           NA         NA      1559
336752 2013 12    30    NA     1935           NA         NA      2055
336753 2013 12    30    NA     1011           NA         NA      1134
336754 2013 12    30    NA      605           NA         NA       723
336755 2013 12    30    NA     1505           NA         NA      1759
336756 2013 12    30    NA     1355           NA         NA      1535
336757 2013 12    30    NA     2100           NA         NA        48
336758 2013 12    30    NA     1221           NA         NA      1545
336759 2013 12    30    NA      855           NA         NA      1142
336760 2013 12    31  2155     2039           76        253      2355
336761 2013 12    31    NA     1520           NA         NA      1705
336762 2013 12    31    NA     2025           NA         NA      2205
336763 2013 12    31    NA     1932           NA         NA      2305
336764 2013 12    31    NA     1505           NA         NA      1725
336765 2013 12    31    NA     1000           NA         NA      1252
336766 2013 12    31    NA      840           NA         NA      1205
336767 2013 12    31    NA      754           NA         NA      1118
336768 2013 12    31    NA     2000           NA         NA      2146
336769 2013 12    31    NA     1500           NA         NA      1817
336770 2013 12    31    NA     1430           NA         NA      1750
336771 2013 12    31    NA      855           NA         NA      1142
336772 2013 12    31    NA      705           NA         NA       931
336773 2013 12    31    NA      825           NA         NA      1029
336774 2013 12    31    NA     1615           NA         NA      1800
336775 2013 12    31    NA      600           NA         NA       735
336776 2013 12    31    NA      830           NA         NA      1154
       arr_delay carrier flight tailnum origin dest air_time distance hour
1      -70       VX        23   N855VA  JFK    SFO  324      2586     10
2      -65       B6       679   N789JB  JFK    LAX  297      2475      9
3      -64       DL      2190   N324US  JFK    MIA  146      1089     18
4      -63       VX        25   N847VA  JFK    SFO  333      2586     12
5      -63       DL      2174   N389DA  JFK    SLC  260      1990     12
6      -62       DL      2159   N398DA  JFK    MCO  127       944     18
7      -61       DL        91   N3740C  JFK    LAS  282      2248     16
8      -61       DL      1465   N722TW  JFK    SFO  329      2586     19
9      -61       UA       551   N830UA  EWR    SFO  313      2565     12
10     -61       UA       665   N805UA  EWR    SFO  336      2565      8
11     -61       DL       675   N711ZX  JFK    STT  181      1623      9
12     -60       DL         6   N3768   JFK    SLC  250      1990     19
13     -59       DL      1865   N711ZX  JFK    SFO  323      2586      7
14     -59       B6       675   N652JB  JFK    LAX  301      2475     16
15     -59       9E      3369   N919XJ  JFK    MSY  166      1182     18
16     -58       9E      3375   N930XJ  JFK    SAT  214      1587     16
17     -57       DL       120   N710TW  JFK    LAX  310      2475      9
18     -57       B6       645   N793JB  JFK    SFO  315      2586     19
19     -57       DL      1415   N397DA  JFK    SLC  265      1990      6
20     -57       UA      1480   N36207  EWR    SFO  326      2565      8
21     -57       DL        31   N722TW  JFK    SFO  326      2586     17
22     -57       DL      1729   N3754A  JFK    LAS  294      2248     19
23     -56       B6       217   N559JB  JFK    LGB  293      2465     18
24     -56       DL      1345   N3769L  JFK    PHX  273      2153     19
25     -56       DL      2159   N384DA  JFK    MCO  135       944     18
26     -55       DL      2174   N3751B  JFK    SLC  264      1990     12
27     -55       UA       703   N512UA  JFK    LAX  309      2475     11
28     -55       DL      2159   N386DA  JFK    MCO  132       944     18
29     -55       DL      2159   N3768   JFK    MCO  125       944     18
30     -55       VX        11   N841VA  JFK    SFO  339      2586      7
⋮      ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮
336747 NA        AA       343   N4XVAA  LGA    ORD  NA        733     16
336748 NA        B6       605   N708JB  EWR    FLL  NA       1065      6
336749 NA        EV      4261   N27200  LGA    CLE  NA        419     14
336750 NA        EV      4193   N36915  EWR    MSP  NA       1008     13
336751 NA        EV      4372   N14573  EWR    DCA  NA        199     14
336752 NA        EV      5714   N832AS  JFK    IAD  NA        228     19
336753 NA        EV      6054   N16919  EWR    IAD  NA        212     10
336754 NA        EV      6177   N13553  EWR    IAD  NA        212      6
336755 NA        UA       321   NA      EWR    MCO  NA        937     15
336756 NA        MQ      3305   N821MQ  LGA    RDU  NA        431     13
336757 NA        UA      1081   NA      EWR    SFO  NA       2565     21
336758 NA        UA      1297   NA      EWR    SNA  NA       2434     12
336759 NA        UA      1506   NA      EWR    JAC  NA       1874      8
336760 NA        B6      1205   N627JB  JFK    PDX  NA       2454     20
336761 NA        AA       341   N568AA  LGA    ORD  NA        733     15
336762 NA        AA       371   N482AA  LGA    ORD  NA        733     20
336763 NA        B6       161   N516JB  JFK    SMF  NA       2521     19
336764 NA        EV      4181   N24103  EWR    MCI  NA       1092     15
336765 NA        UA      1124   NA      EWR    EGE  NA       1725     10
336766 NA        UA      1151   NA      EWR    SEA  NA       2402      8
336767 NA        UA      1455   NA      EWR    LAX  NA       2454      7
336768 NA        UA      1482   NA      EWR    ORD  NA        719     20
336769 NA        UA      1483   NA      EWR    AUS  NA       1504     15
336770 NA        UA      1493   NA      EWR    LAX  NA       2454     14
336771 NA        UA      1506   NA      EWR    JAC  NA       1874      8
336772 NA        UA      1729   NA      EWR    DEN  NA       1605      7
336773 NA        US      1831   NA      JFK    CLT  NA        541      8
336774 NA        MQ      3301   N844MQ  LGA    RDU  NA        431     16
336775 NA        UA       219   NA      EWR    ORD  NA        719      6
336776 NA        UA       443   NA      JFK    LAX  NA       2475      8
       minute time_hour
1      30     2013-01-04 10:00:00
2      45     2013-01-03 09:00:00
3      45     2013-01-14 18:00:00
4       0     2013-01-03 12:00:00
5      35     2013-01-03 12:00:00
6      50     2013-01-27 18:00:00
7      10     2013-01-03 16:00:00
8       0     2013-01-03 19:00:00
9      21     2013-01-04 12:00:00
10     19     2013-01-06 08:00:00
11     20     2013-01-12 09:00:00
12     20     2013-01-03 19:00:00
13      0     2013-01-02 07:00:00
14     30     2013-01-03 16:00:00
15     45     2013-01-27 18:00:00
16     59     2013-01-26 16:00:00
17      0     2013-01-02 09:00:00
18     45     2013-01-03 19:00:00
19     55     2013-01-04 06:00:00
20     30     2013-01-04 08:00:00
21      0     2013-01-04 17:00:00
22     15     2013-01-30 19:00:00
23     10     2013-01-03 18:00:00
24     20     2013-01-03 19:00:00
25     50     2013-01-14 18:00:00
26     45     2013-01-02 12:00:00
27     30     2013-01-04 11:00:00
28     50     2013-01-08 18:00:00
29     50     2013-01-11 18:00:00
30     30     2013-01-13 07:00:00
⋮      ⋮      ⋮
336747 35     2013-12-30 16:00:00
336748  0     2013-12-30 06:00:00
336749 30     2013-12-30 14:00:00
336750 50     2013-12-30 13:00:00
336751 52     2013-12-30 14:00:00
336752 35     2013-12-30 19:00:00
336753 11     2013-12-30 10:00:00
336754  5     2013-12-30 06:00:00
336755  5     2013-12-30 15:00:00
336756 55     2013-12-30 13:00:00
336757  0     2013-12-30 21:00:00
336758 21     2013-12-30 12:00:00
336759 55     2013-12-30 08:00:00
336760 39     2013-12-31 20:00:00
336761 20     2013-12-31 15:00:00
336762 25     2013-12-31 20:00:00
336763 32     2013-12-31 19:00:00
336764  5     2013-12-31 15:00:00
336765  0     2013-12-31 10:00:00
336766 40     2013-12-31 08:00:00
336767 54     2013-12-31 07:00:00
336768  0     2013-12-31 20:00:00
336769  0     2013-12-31 15:00:00
336770 30     2013-12-31 14:00:00
336771 55     2013-12-31 08:00:00
336772  5     2013-12-31 07:00:00
336773 25     2013-12-31 08:00:00
336774 15     2013-12-31 16:00:00
336775  0     2013-12-31 06:00:00
336776 30     2013-12-31 08:00:00

In [ ]:
arrange(vuelos, month, desc(arr_delay))# ordenamos de manera ascendente por mes y descendente por arr_delay.

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1      9   641      900           1301      1242     1530
2      2013 1     10  1121     1635           1126      1239     1810
3      2013 1      1   848     1835            853      1001     1950
4      2013 1     13  1809      810            599      2054     1042
5      2013 1     16  1622      800            502      1911     1054
6      2013 1     23  1551      753            478      1812     1006
7      2013 1      1  2343     1724            379       314     1938
8      2013 1     10  1525      900            385      1713     1039
9      2013 1     25    15     1815            360       208     1958
10     2013 1      2  1607     1030            337      2003     1355
11     2013 1      7  2021     1415            366      2332     1724
12     2013 1     25  2020     1527            293      2304     1700
13     2013 1      2  2131     1512            379      2340     1741
14     2013 1     26  1409      820            349      1528      937
15     2013 1     11  1310      710            360      1438      850
16     2013 1     24  2051     1522            329      2307     1727
17     2013 1      1  1815     1325            290      2120     1542
18     2013 1     25  2203     1635            328        34     1856
19     2013 1     31  1837     1350            287      2159     1624
20     2013 1     25    26     1850            336       225     2055
21     2013 1     14  2229     1655            334       157     2029
22     2013 1     25   123     2000            323       229     2101
23     2013 1     25  2036     1610            266      2257     1732
24     2013 1      2  1412      838            334      1710     1147
25     2013 1      5  1344      817            327      1635     1127
26     2013 1     16  2013     1505            308      2136     1637
27     2013 1     25  1755     1341            254        34     1935
28     2013 1     13   115     2000            315       409     2312
29     2013 1     28  1857     1429            268      2136     1642
30     2013 1     10  2137     1630            307        17     1925
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
336747 2013 12    30    NA     1635           NA         NA      1825
336748 2013 12    30    NA      600           NA         NA       855
336749 2013 12    30    NA     1430           NA         NA      1626
336750 2013 12    30    NA     1350           NA         NA      1602
336751 2013 12    30    NA     1452           NA         NA      1559
336752 2013 12    30    NA     1935           NA         NA      2055
336753 2013 12    30    NA     1011           NA         NA      1134
336754 2013 12    30    NA      605           NA         NA       723
336755 2013 12    30    NA     1505           NA         NA      1759
336756 2013 12    30    NA     1355           NA         NA      1535
336757 2013 12    30    NA     2100           NA         NA        48
336758 2013 12    30    NA     1221           NA         NA      1545
336759 2013 12    30    NA      855           NA         NA      1142
336760 2013 12    31  2155     2039           76        253      2355
336761 2013 12    31    NA     1520           NA         NA      1705
336762 2013 12    31    NA     2025           NA         NA      2205
336763 2013 12    31    NA     1932           NA         NA      2305
336764 2013 12    31    NA     1505           NA         NA      1725
336765 2013 12    31    NA     1000           NA         NA      1252
336766 2013 12    31    NA      840           NA         NA      1205
336767 2013 12    31    NA      754           NA         NA      1118
336768 2013 12    31    NA     2000           NA         NA      2146
336769 2013 12    31    NA     1500           NA         NA      1817
336770 2013 12    31    NA     1430           NA         NA      1750
336771 2013 12    31    NA      855           NA         NA      1142
336772 2013 12    31    NA      705           NA         NA       931
336773 2013 12    31    NA      825           NA         NA      1029
336774 2013 12    31    NA     1615           NA         NA      1800
336775 2013 12    31    NA      600           NA         NA       735
336776 2013 12    31    NA      830           NA         NA      1154
       arr_delay carrier flight tailnum origin dest air_time distance hour
1      1272      HA        51   N384HA  JFK    HNL  640      4983      9
2      1109      MQ      3695   N517MQ  EWR    ORD  111       719     16
3       851      MQ      3944   N942MQ  JFK    BWI   41       184     18
4       612      DL       269   N322NB  JFK    ATL  116       760      8
5       497      B6       517   N661JB  EWR    MCO  144       937      8
6       486      DL      2119   N326NB  LGA    MSP  166      1020      7
7       456      EV      4321   N21197  EWR    MCI  222      1092     17
8       394      UA       544   N419UA  LGA    ORD  123       733      9
9       370      9E      4019   N8646A  JFK    RIC   56       288     18
10      368      AA       179   N324AA  JFK    SFO  346      2586     10
11      368      B6       377   N789JB  LGA    FLL  153      1076     14
12      364      EV      3835   N14920  EWR    BNA  124       748     15
13      359      UA       488   N593UA  LGA    DEN  228      1620     15
14      351      9E      4051   N8444F  JFK    BWI   37       184      8
15      348      MQ      3737   N509MQ  EWR    ORD  116       719      7
16      340      EV      4576   N21144  EWR    GRR  107       605     15
17      338      EV      4417   N17185  EWR    OMA  213      1134     13
18      338      EV      3805   N18102  EWR    SAV  107       708     16
19      335      B6       615   N281JB  JFK    JAX  150       828     13
20      330      US      1491   N181UW  LGA    CLT   82       544     18
21      328      DL       706   N370NW  JFK    AUS  243      1521     16
22      328      EV      4309   N13908  EWR    ALB   30       143     20
23      325      9E      3689   N8913A  JFK    PHL   27        94     16
24      323      UA       468   N474UA  EWR    MCO  150       937      8
25      308      DL      1109   N309US  LGA    TPA  158      1010      8
26      299      9E      3393   N920XJ  JFK    DCA   51       213     15
27      299      UA        15   N76065  EWR    HNL  648      4963     13
28      297      B6       801   N552JB  JFK    FLL  143      1069     20
29      294      DL      1819   N911DA  LGA    MSP  162      1020     14
30      292      UA      1178   N75435  EWR    IAH  197      1400     16
⋮      ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮
336747 NA        AA       343   N4XVAA  LGA    ORD  NA        733     16
336748 NA        B6       605   N708JB  EWR    FLL  NA       1065      6
336749 NA        EV      4261   N27200  LGA    CLE  NA        419     14
336750 NA        EV      4193   N36915  EWR    MSP  NA       1008     13
336751 NA        EV      4372   N14573  EWR    DCA  NA        199     14
336752 NA        EV      5714   N832AS  JFK    IAD  NA        228     19
336753 NA        EV      6054   N16919  EWR    IAD  NA        212     10
336754 NA        EV      6177   N13553  EWR    IAD  NA        212      6
336755 NA        UA       321   NA      EWR    MCO  NA        937     15
336756 NA        MQ      3305   N821MQ  LGA    RDU  NA        431     13
336757 NA        UA      1081   NA      EWR    SFO  NA       2565     21
336758 NA        UA      1297   NA      EWR    SNA  NA       2434     12
336759 NA        UA      1506   NA      EWR    JAC  NA       1874      8
336760 NA        B6      1205   N627JB  JFK    PDX  NA       2454     20
336761 NA        AA       341   N568AA  LGA    ORD  NA        733     15
336762 NA        AA       371   N482AA  LGA    ORD  NA        733     20
336763 NA        B6       161   N516JB  JFK    SMF  NA       2521     19
336764 NA        EV      4181   N24103  EWR    MCI  NA       1092     15
336765 NA        UA      1124   NA      EWR    EGE  NA       1725     10
336766 NA        UA      1151   NA      EWR    SEA  NA       2402      8
336767 NA        UA      1455   NA      EWR    LAX  NA       2454      7
336768 NA        UA      1482   NA      EWR    ORD  NA        719     20
336769 NA        UA      1483   NA      EWR    AUS  NA       1504     15
336770 NA        UA      1493   NA      EWR    LAX  NA       2454     14
336771 NA        UA      1506   NA      EWR    JAC  NA       1874      8
336772 NA        UA      1729   NA      EWR    DEN  NA       1605      7
336773 NA        US      1831   NA      JFK    CLT  NA        541      8
336774 NA        MQ      3301   N844MQ  LGA    RDU  NA        431     16
336775 NA        UA       219   NA      EWR    ORD  NA        719      6
336776 NA        UA       443   NA      JFK    LAX  NA       2475      8
       minute time_hour
1       0     2013-01-09 09:00:00
2      35     2013-01-10 16:00:00
3      35     2013-01-01 18:00:00
4      10     2013-01-13 08:00:00
5       0     2013-01-16 08:00:00
6      53     2013-01-23 07:00:00
7      24     2013-01-01 17:00:00
8       0     2013-01-10 09:00:00
9      15     2013-01-25 18:00:00
10     30     2013-01-02 10:00:00
11     15     2013-01-07 14:00:00
12     27     2013-01-25 15:00:00
13     12     2013-01-02 15:00:00
14     20     2013-01-26 08:00:00
15     10     2013-01-11 07:00:00
16     22     2013-01-24 15:00:00
17     25     2013-01-01 13:00:00
18     35     2013-01-25 16:00:00
19     50     2013-01-31 13:00:00
20     50     2013-01-25 18:00:00
21     55     2013-01-14 16:00:00
22      0     2013-01-25 20:00:00
23     10     2013-01-25 16:00:00
24     38     2013-01-02 08:00:00
25     17     2013-01-05 08:00:00
26      5     2013-01-16 15:00:00
27     41     2013-01-25 13:00:00
28      0     2013-01-13 20:00:00
29     29     2013-01-28 14:00:00
30     30     2013-01-10 16:00:00
⋮      ⋮      ⋮
336747 35     2013-12-30 16:00:00
336748  0     2013-12-30 06:00:00
336749 30     2013-12-30 14:00:00
336750 50     2013-12-30 13:00:00
336751 52     2013-12-30 14:00:00
336752 35     2013-12-30 19:00:00
336753 11     2013-12-30 10:00:00
336754  5     2013-12-30 06:00:00
336755  5     2013-12-30 15:00:00
336756 55     2013-12-30 13:00:00
336757  0     2013-12-30 21:00:00
336758 21     2013-12-30 12:00:00
336759 55     2013-12-30 08:00:00
336760 39     2013-12-31 20:00:00
336761 20     2013-12-31 15:00:00
336762 25     2013-12-31 20:00:00
336763 32     2013-12-31 19:00:00
336764  5     2013-12-31 15:00:00
336765  0     2013-12-31 10:00:00
336766 40     2013-12-31 08:00:00
336767 54     2013-12-31 07:00:00
336768  0     2013-12-31 20:00:00
336769  0     2013-12-31 15:00:00
336770 30     2013-12-31 14:00:00
336771 55     2013-12-31 08:00:00
336772  5     2013-12-31 07:00:00
336773 25     2013-12-31 08:00:00
336774 15     2013-12-31 16:00:00
336775  0     2013-12-31 06:00:00
336776 30     2013-12-31 08:00:00

### 4.3 Funciones select() y rename()

La con la función `select` podemos seleccionar un subconjunto de columas de la tabla original. A difernecia de SQL en esta sentencia no podremos crear nuevas columnas, sólo renombrarlas en algunos casos. Notar que (obviamente) no se mantienen las columnas que no ingresan como argumento a la función.

La función rename() permite renombrar columnas existentes, manteniendo las columnas que no se están renombrando.

In [ ]:
# select() y rename() ----------------------------------------------------------------
# Ejemplo: Podemos seleccionar las columnas year, month, day, origin, dest

# Cómo lo haríamos con la sintaxis básica? (recorr como acceder a través del nombre a un vector, matrix, lista, o data.frame)

vuelos[, c("year", "month", "day", "origin", "dest")]

       year month day origin dest
1      2013 1     1   EWR    IAH
2      2013 1     1   LGA    IAH
3      2013 1     1   JFK    MIA
4      2013 1     1   JFK    BQN
5      2013 1     1   LGA    ATL
6      2013 1     1   EWR    ORD
7      2013 1     1   EWR    FLL
8      2013 1     1   LGA    IAD
9      2013 1     1   JFK    MCO
10     2013 1     1   LGA    ORD
11     2013 1     1   JFK    PBI
12     2013 1     1   JFK    TPA
13     2013 1     1   JFK    LAX
14     2013 1     1   EWR    SFO
15     2013 1     1   LGA    DFW
16     2013 1     1   JFK    BOS
17     2013 1     1   EWR    LAS
18     2013 1     1   LGA    FLL
19     2013 1     1   LGA    ATL
20     2013 1     1   EWR    PBI
21     2013 1     1   LGA    MSP
22     2013 1     1   LGA    DTW
23     2013 1     1   EWR    MIA
24     2013 1     1   JFK    ATL
25     2013 1     1   EWR    MIA
26     2013 1     1   EWR    ORD
27     2013 1     1   JFK    SFO
28     2013 1     1   JFK    RSW
29     2013 1     1   JFK    SJU
30     2013 1     1   EWR    ATL
⋮      ⋮    ⋮     ⋮   ⋮      ⋮
336747 2013 9     30  LGA    CHO
336748 2013 9     30  EWR    CLT
336749 2013 9     30  JFK    DEN
336750 2013 9     30  LGA    RIC
336751 2013 9     30  JFK    DCA
336752 2013 9     30  JFK    LAX
336753 2013 9     30  EWR    PWM
336754 2013 9     30  JFK    SJU
336755 2013 9     30  LGA    FLL
336756 2013 9     30  EWR    BOS
336757 2013 9     30  EWR    MHT
336758 2013 9     30  JFK    BUF
336759 2013 9     30  LGA    BGR
336760 2013 9     30  LGA    BNA
336761 2013 9     30  EWR    STL
336762 2013 9     30  JFK    PWM
336763 2013 9     30  EWR    SFO
336764 2013 9     30  JFK    MCO
336765 2013 9     30  JFK    BTV
336766 2013 9     30  JFK    SYR
336767 2013 9     30  JFK    BUF
336768 2013 9     30  JFK    ROC
336769 2013 9     30  JFK    BOS
336770 2013 9     30  JFK    PSE
336771 2013 9     30  LGA    BNA
336772 2013 9     30  JFK    DCA
336773 2013 9     30  LGA    SYR
336774 2013 9     30  LGA    BNA
336775 2013 9     30  LGA    CLE
336776 2013 9     30  LGA    RDU

In [ ]:
# Ahora con dplyr
select(vuelos, year, month, day, origin, dest)

       year month day origin dest
1      2013 1     1   EWR    IAH
2      2013 1     1   LGA    IAH
3      2013 1     1   JFK    MIA
4      2013 1     1   JFK    BQN
5      2013 1     1   LGA    ATL
6      2013 1     1   EWR    ORD
7      2013 1     1   EWR    FLL
8      2013 1     1   LGA    IAD
9      2013 1     1   JFK    MCO
10     2013 1     1   LGA    ORD
11     2013 1     1   JFK    PBI
12     2013 1     1   JFK    TPA
13     2013 1     1   JFK    LAX
14     2013 1     1   EWR    SFO
15     2013 1     1   LGA    DFW
16     2013 1     1   JFK    BOS
17     2013 1     1   EWR    LAS
18     2013 1     1   LGA    FLL
19     2013 1     1   LGA    ATL
20     2013 1     1   EWR    PBI
21     2013 1     1   LGA    MSP
22     2013 1     1   LGA    DTW
23     2013 1     1   EWR    MIA
24     2013 1     1   JFK    ATL
25     2013 1     1   EWR    MIA
26     2013 1     1   EWR    ORD
27     2013 1     1   JFK    SFO
28     2013 1     1   JFK    RSW
29     2013 1     1   JFK    SJU
30     2013 1     1   EWR    ATL
⋮      ⋮    ⋮     ⋮   ⋮      ⋮
336747 2013 9     30  LGA    CHO
336748 2013 9     30  EWR    CLT
336749 2013 9     30  JFK    DEN
336750 2013 9     30  LGA    RIC
336751 2013 9     30  JFK    DCA
336752 2013 9     30  JFK    LAX
336753 2013 9     30  EWR    PWM
336754 2013 9     30  JFK    SJU
336755 2013 9     30  LGA    FLL
336756 2013 9     30  EWR    BOS
336757 2013 9     30  EWR    MHT
336758 2013 9     30  JFK    BUF
336759 2013 9     30  LGA    BGR
336760 2013 9     30  LGA    BNA
336761 2013 9     30  EWR    STL
336762 2013 9     30  JFK    PWM
336763 2013 9     30  EWR    SFO
336764 2013 9     30  JFK    MCO
336765 2013 9     30  JFK    BTV
336766 2013 9     30  JFK    SYR
336767 2013 9     30  JFK    BUF
336768 2013 9     30  JFK    ROC
336769 2013 9     30  JFK    BOS
336770 2013 9     30  JFK    PSE
336771 2013 9     30  LGA    BNA
336772 2013 9     30  JFK    DCA
336773 2013 9     30  LGA    SYR
336774 2013 9     30  LGA    BNA
336775 2013 9     30  LGA    CLE
336776 2013 9     30  LGA    RDU

In [ ]:
# Guardamos en una tabla auxiliar
sub_vuelos <- select(vuelos, year, month, day, origin, dest)
head(sub_vuelos)

  year month day origin dest
1 2013 1     1   EWR    IAH
2 2013 1     1   LGA    IAH
3 2013 1     1   JFK    MIA
4 2013 1     1   JFK    BQN
5 2013 1     1   LGA    ATL
6 2013 1     1   EWR    ORD

In [ ]:
# podemos renombrar la columna year
rename(sub_vuelos, anio = year,
                   mes = month,
                   dia = day)

# NOTA: esto no modifica el dataset original

       anio mes dia origin dest
1      2013 1   1   EWR    IAH
2      2013 1   1   LGA    IAH
3      2013 1   1   JFK    MIA
4      2013 1   1   JFK    BQN
5      2013 1   1   LGA    ATL
6      2013 1   1   EWR    ORD
7      2013 1   1   EWR    FLL
8      2013 1   1   LGA    IAD
9      2013 1   1   JFK    MCO
10     2013 1   1   LGA    ORD
11     2013 1   1   JFK    PBI
12     2013 1   1   JFK    TPA
13     2013 1   1   JFK    LAX
14     2013 1   1   EWR    SFO
15     2013 1   1   LGA    DFW
16     2013 1   1   JFK    BOS
17     2013 1   1   EWR    LAS
18     2013 1   1   LGA    FLL
19     2013 1   1   LGA    ATL
20     2013 1   1   EWR    PBI
21     2013 1   1   LGA    MSP
22     2013 1   1   LGA    DTW
23     2013 1   1   EWR    MIA
24     2013 1   1   JFK    ATL
25     2013 1   1   EWR    MIA
26     2013 1   1   EWR    ORD
27     2013 1   1   JFK    SFO
28     2013 1   1   JFK    RSW
29     2013 1   1   JFK    SJU
30     2013 1   1   EWR    ATL
⋮      ⋮    ⋮   ⋮   ⋮      ⋮
336747 2013 9   30  LGA    CHO
336748 2013 9   30  EWR    CLT
336749 2013 9   30  JFK    DEN
336750 2013 9   30  LGA    RIC
336751 2013 9   30  JFK    DCA
336752 2013 9   30  JFK    LAX
336753 2013 9   30  EWR    PWM
336754 2013 9   30  JFK    SJU
336755 2013 9   30  LGA    FLL
336756 2013 9   30  EWR    BOS
336757 2013 9   30  EWR    MHT
336758 2013 9   30  JFK    BUF
336759 2013 9   30  LGA    BGR
336760 2013 9   30  LGA    BNA
336761 2013 9   30  EWR    STL
336762 2013 9   30  JFK    PWM
336763 2013 9   30  EWR    SFO
336764 2013 9   30  JFK    MCO
336765 2013 9   30  JFK    BTV
336766 2013 9   30  JFK    SYR
336767 2013 9   30  JFK    BUF
336768 2013 9   30  JFK    ROC
336769 2013 9   30  JFK    BOS
336770 2013 9   30  JFK    PSE
336771 2013 9   30  LGA    BNA
336772 2013 9   30  JFK    DCA
336773 2013 9   30  LGA    SYR
336774 2013 9   30  LGA    BNA
336775 2013 9   30  LGA    CLE
336776 2013 9   30  LGA    RDU

In [ ]:
head(sub_vuelos)

  year month day origin dest
1 2013 1     1   EWR    IAH
2 2013 1     1   LGA    IAH
3 2013 1     1   JFK    MIA
4 2013 1     1   JFK    BQN
5 2013 1     1   LGA    ATL
6 2013 1     1   EWR    ORD

In [ ]:
sub_vuelos <- rename(sub_vuelos, anio = year,
                   mes = month,
                   dia = day)

In [ ]:
head(sub_vuelos)

  anio mes dia origin dest
1 2013 1   1   EWR    IAH
2 2013 1   1   LGA    IAH
3 2013 1   1   JFK    MIA
4 2013 1   1   JFK    BQN
5 2013 1   1   LGA    ATL
6 2013 1   1   EWR    ORD

In [ ]:
names(vuelos)

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

In [ ]:
#Existe gran variedad (pueden consultar la documentación respectiva)  de otras funciones dentro del package dplyr, por ejemplo: Seleccionar solo las variables que comiencen con "d"
# para su estudio
head(select(vuelos, 4:7 ),3)
head(select(vuelos, dep_time:arr_time ),3)
head(select(vuelos, starts_with("arr_")))

  dep_time sched_dep_time dep_delay arr_time
1 517      515            2         830
2 533      529            4         850
3 542      540            2         923

  dep_time sched_dep_time dep_delay arr_time
1 517      515            2         830
2 533      529            4         850
3 542      540            2         923

  arr_time arr_delay
1  830      11
2  850      20
3  923      33
4 1004     -18
5  812     -25
6  740      12

### 4.4 Función mutate()

Una de las funciones más útiles de dplyr es la función mutate(), la cual permite crear nuevas columnas, o modificar las existentes.

In [ ]:
# mutate() ----------------------------------------------------------------
# Crear una nueva columna llamada retraso_neto, que contenga la suma de arr_delay y dep_delay

#antes
vuelos[["retraso_neto"]] <- vuelos$arr_delay + vuelos$dep_delay # ya estamos modificando el dataframe original

In [ ]:
head(vuelos)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour           retraso_neto
1 2013-01-01 05:00:00  13
2 2013-01-01 05:00:00  24
3 2013-01-01 05:00:00  35
4 2013-01-01 05:00:00 -19
5 2013-01-01 06:00:00 -31
6 2013-01-01 05:00:00   8

In [ ]:
#ahora
mutate(vuelos, retraso_neto2 = arr_delay + dep_delay)

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1     1   517      515             2         830      819
2      2013 1     1   533      529             4         850      830
3      2013 1     1   542      540             2         923      850
4      2013 1     1   544      545            -1        1004     1022
5      2013 1     1   554      600            -6         812      837
6      2013 1     1   554      558            -4         740      728
7      2013 1     1   555      600            -5         913      854
8      2013 1     1   557      600            -3         709      723
9      2013 1     1   557      600            -3         838      846
10     2013 1     1   558      600            -2         753      745
11     2013 1     1   558      600            -2         849      851
12     2013 1     1   558      600            -2         853      856
13     2013 1     1   558      600            -2         924      917
14     2013 1     1   558      600            -2         923      937
15     2013 1     1   559      600            -1         941      910
16     2013 1     1   559      559             0         702      706
17     2013 1     1   559      600            -1         854      902
18     2013 1     1   600      600             0         851      858
19     2013 1     1   600      600             0         837      825
20     2013 1     1   601      600             1         844      850
21     2013 1     1   602      610            -8         812      820
22     2013 1     1   602      605            -3         821      805
23     2013 1     1   606      610            -4         858      910
24     2013 1     1   606      610            -4         837      845
25     2013 1     1   607      607             0         858      915
26     2013 1     1   608      600             8         807      735
27     2013 1     1   611      600            11         945      931
28     2013 1     1   613      610             3         925      921
29     2013 1     1   615      615             0        1039     1100
30     2013 1     1   615      615             0         833      842
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
336747 2013 9     30  2123     2125            -2       2223     2247
336748 2013 9     30  2127     2129            -2       2314     2323
336749 2013 9     30  2128     2130            -2       2328     2359
336750 2013 9     30  2129     2059            30       2230     2232
336751 2013 9     30  2131     2140            -9       2225     2255
336752 2013 9     30  2140     2140             0         10       40
336753 2013 9     30  2142     2129            13       2250     2239
336754 2013 9     30  2145     2145             0        115      140
336755 2013 9     30  2147     2137            10         30       27
336756 2013 9     30  2149     2156            -7       2245     2308
336757 2013 9     30  2150     2159            -9       2250     2306
336758 2013 9     30  2159     1845           194       2344     2030
336759 2013 9     30  2203     2205            -2       2339     2331
336760 2013 9     30  2207     2140            27       2257     2250
336761 2013 9     30  2211     2059            72       2339     2242
336762 2013 9     30  2231     2245           -14       2335     2356
336763 2013 9     30  2233     2113            80        112       30
336764 2013 9     30  2235     2001           154         59     2249
336765 2013 9     30  2237     2245            -8       2345     2353
336766 2013 9     30  2240     2245            -5       2334     2351
336767 2013 9     30  2240     2250           -10       2347        7
336768 2013 9     30  2241     2246            -5       2345        1
336769 2013 9     30  2307     2255            12       2359     2358
336770 2013 9     30  2349     2359           -10        325      350
336771 2013 9     30    NA     1842            NA         NA     2019
336772 2013 9     30    NA     1455            NA         NA     1634
336773 2013 9     30    NA     2200            NA         NA     2312
336774 2013 9     30    NA     1210            NA         NA     1330
336775 2013 9     30    NA     1159            NA         NA     1344
336776 2013 9     30    NA      840            NA         NA     1020
       arr_delay carrier ⋯ tailnum origin dest air_time distance hour minute
1       11       UA      ⋯ N14228  EWR    IAH  227      1400     5    15
2       20       UA      ⋯ N24211  LGA    IAH  227      1416     5    29
3       33       AA      ⋯ N619AA  JFK    MIA  160      1089     5    40
4      -18       B6      ⋯ N804JB  JFK    BQN  183      1576     5    45
5      -25       DL      ⋯ N668DN  LGA    ATL  116       762     6     0
6       12       UA      ⋯ N39463  EWR    ORD  150       719     5    58
7       19       B6      ⋯ N516JB  EWR    FLL  158      1065     6     0
8      -14       EV      ⋯ N829AS  LGA    IAD   53       229     6     0
9       -8       B6      ⋯ N593JB  JFK    MCO  140       944     6     0
10       8       AA      ⋯ N3ALAA  LGA    ORD  138       733     6     0
11      -2       B6      ⋯ N793JB  JFK    PBI  149      1028     6     0
12      -3       B6      ⋯ N657JB  JFK    TPA  158      1005     6     0
13       7       UA      ⋯ N29129  JFK    LAX  345      2475     6     0
14     -14       UA      ⋯ N53441  EWR    SFO  361      2565     6     0
15      31       AA      ⋯ N3DUAA  LGA    DFW  257      1389     6     0
16      -4       B6      ⋯ N708JB  JFK    BOS   44       187     5    59
17      -8       UA      ⋯ N76515  EWR    LAS  337      2227     6     0
18      -7       B6      ⋯ N595JB  LGA    FLL  152      1076     6     0
19      12       MQ      ⋯ N542MQ  LGA    ATL  134       762     6     0
20      -6       B6      ⋯ N644JB  EWR    PBI  147      1023     6     0
21      -8       DL      ⋯ N971DL  LGA    MSP  170      1020     6    10
22      16       MQ      ⋯ N730MQ  LGA    DTW  105       502     6     5
23     -12       AA      ⋯ N633AA  EWR    MIA  152      1085     6    10
24      -8       DL      ⋯ N3739P  JFK    ATL  128       760     6    10
25     -17       UA      ⋯ N53442  EWR    MIA  157      1085     6     7
26      32       MQ      ⋯ N9EAMQ  EWR    ORD  139       719     6     0
27      14       UA      ⋯ N532UA  JFK    SFO  366      2586     6     0
28       4       B6      ⋯ N635JB  JFK    RSW  175      1074     6    10
29     -21       B6      ⋯ N794JB  JFK    SJU  182      1598     6    15
30      -9       DL      ⋯ N326NB  EWR    ATL  120       746     6    15
⋮      ⋮         ⋮       ⋱ ⋮       ⋮      ⋮    ⋮        ⋮        ⋮    ⋮
336747 -24       EV      ⋯ N712EV  LGA    CHO   45       305     21   25
336748  -9       EV      ⋯ N16546  EWR    CLT   72       529     21   29
336749 -31       B6      ⋯ N807JB  JFK    DEN  213      1626     21   30
336750  -2       EV      ⋯ N751EV  LGA    RIC   45       292     20   59
336751 -30       MQ      ⋯ N807MQ  JFK    DCA   36       213     21   40
336752 -30       AA      ⋯ N335AA  JFK    LAX  298      2475     21   40
336753  11       EV      ⋯ N12957  EWR    PWM   47       284     21   29
336754 -25       B6      ⋯ N633JB  JFK    SJU  192      1598     21   45
336755   3       B6      ⋯ N627JB  LGA    FLL  139      1076     21   37
336756 -23       UA      ⋯ N813UA  EWR    BOS   37       200     21   56
336757 -16       EV      ⋯ N10575  EWR    MHT   39       209     21   59
336758 194       9E      ⋯ N906XJ  JFK    BUF   50       301     18   45
336759   8       EV      ⋯ N722EV  LGA    BGR   61       378     22    5
336760   7       MQ      ⋯ N532MQ  LGA    BNA   97       764     21   40
336761  57       EV      ⋯ N12145  EWR    STL  120       872     20   59
336762 -21       B6      ⋯ N193JB  JFK    PWM   48       273     22   45
336763  42       UA      ⋯ N578UA  EWR    SFO  318      2565     21   13
336764 130       B6      ⋯ N804JB  JFK    MCO  123       944     20    1
336765  -8       B6      ⋯ N318JB  JFK    BTV   43       266     22   45
336766 -17       B6      ⋯ N354JB  JFK    SYR   41       209     22   45
336767 -20       B6      ⋯ N281JB  JFK    BUF   52       301     22   50
336768 -16       B6      ⋯ N346JB  JFK    ROC   47       264     22   46
336769   1       B6      ⋯ N565JB  JFK    BOS   33       187     22   55
336770 -25       B6      ⋯ N516JB  JFK    PSE  196      1617     23   59
336771  NA       EV      ⋯ N740EV  LGA    BNA   NA       764     18   42
336772  NA       9E      ⋯ NA      JFK    DCA   NA       213     14   55
336773  NA       9E      ⋯ NA      LGA    SYR   NA       198     22    0
336774  NA       MQ      ⋯ N535MQ  LGA    BNA   NA       764     12   10
336775  NA       MQ      ⋯ N511MQ  LGA    CLE   NA       419     11   59
336776  NA       MQ      ⋯ N839MQ  LGA    RDU   NA       431      8   40
       time_hour           retraso_neto retraso_neto2
1      2013-01-01 05:00:00  13           13
2      2013-01-01 05:00:00  24           24
3      2013-01-01 05:00:00  35           35
4      2013-01-01 05:00:00 -19          -19
5      2013-01-01 06:00:00 -31          -31
6      2013-01-01 05:00:00   8            8
7      2013-01-01 06:00:00  14           14
8      2013-01-01 06:00:00 -17          -17
9      2013-01-01 06:00:00 -11          -11
10     2013-01-01 06:00:00   6            6
11     2013-01-01 06:00:00  -4           -4
12     2013-01-01 06:00:00  -5           -5
13     2013-01-01 06:00:00   5            5
14     2013-01-01 06:00:00 -16          -16
15     2013-01-01 06:00:00  30           30
16     2013-01-01 05:00:00  -4           -4
17     2013-01-01 06:00:00  -9           -9
18     2013-01-01 06:00:00  -7           -7
19     2013-01-01 06:00:00  12           12
20     2013-01-01 06:00:00  -5           -5
21     2013-01-01 06:00:00 -16          -16
22     2013-01-01 06:00:00  13           13
23     2013-01-01 06:00:00 -16          -16
24     2013-01-01 06:00:00 -12          -12
25     2013-01-01 06:00:00 -17          -17
26     2013-01-01 06:00:00  40           40
27     2013-01-01 06:00:00  25           25
28     2013-01-01 06:00:00   7            7
29     2013-01-01 06:00:00 -21          -21
30     2013-01-01 06:00:00  -9           -9
⋮      ⋮                   ⋮            ⋮
336747 2013-09-30 21:00:00 -26          -26
336748 2013-09-30 21:00:00 -11          -11
336749 2013-09-30 21:00:00 -33          -33
336750 2013-09-30 20:00:00  28           28
336751 2013-09-30 21:00:00 -39          -39
336752 2013-09-30 21:00:00 -30          -30
336753 2013-09-30 21:00:00  24           24
336754 2013-09-30 21:00:00 -25          -25
336755 2013-09-30 21:00:00  13           13
336756 2013-09-30 21:00:00 -30          -30
336757 2013-09-30 21:00:00 -25          -25
336758 2013-09-30 18:00:00 388          388
336759 2013-09-30 22:00:00   6            6
336760 2013-09-30 21:00:00  34           34
336761 2013-09-30 20:00:00 129          129
336762 2013-09-30 22:00:00 -35          -35
336763 2013-09-30 21:00:00 122          122
336764 2013-09-30 20:00:00 284          284
336765 2013-09-30 22:00:00 -16          -16
336766 2013-09-30 22:00:00 -22          -22
336767 2013-09-30 22:00:00 -30          -30
336768 2013-09-30 22:00:00 -21          -21
336769 2013-09-30 22:00:00  13           13
336770 2013-09-30 23:00:00 -35          -35
336771 2013-09-30 18:00:00  NA           NA
336772 2013-09-30 14:00:00  NA           NA
336773 2013-09-30 22:00:00  NA           NA
336774 2013-09-30 12:00:00  NA           NA
336775 2013-09-30 11:00:00  NA           NA
336776 2013-09-30 08:00:00  NA           NA

In [ ]:
# Recordar que esta nueva columna solo existe en la ejecución y no se ha modificado el dataset original.
head(vuelos)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour           retraso_neto
1 2013-01-01 05:00:00  13
2 2013-01-01 05:00:00  24
3 2013-01-01 05:00:00  35
4 2013-01-01 05:00:00 -19
5 2013-01-01 06:00:00 -31
6 2013-01-01 05:00:00   8

In [ ]:
# Primero defina una nueva data llamada muestra_fl que contenga la fecha, los retrasos, la distancia, y el tiempo de vuelo
muestra_fl <- select(vuelos, year,month,day, arr_delay, dep_delay, distance, air_time)
head(muestra_fl)
# Cree una columna llamada gain que contenga la diferenecia entre arr_delay y dep_delay, y otra llamada speed que mida la velocidad en horas (distancia / tiempo de vuelo * 60)

  year month day arr_delay dep_delay distance air_time
1 2013 1     1    11        2        1400     227
2 2013 1     1    20        4        1416     227
3 2013 1     1    33        2        1089     160
4 2013 1     1   -18       -1        1576     183
5 2013 1     1   -25       -6         762     116
6 2013 1     1    12       -4         719     150

In [ ]:
# Cree una columna llamada gain que contenga la diferenecia entre arr_delay y dep_delay, y otra llamada speed que mida la velocidad en km/horas (distancia / tiempo de vuelo * 60)
muestra_fl <- mutate(muestra_fl, gain = arr_delay - dep_delay,
                   speed = 60*distance/air_time,
                   speed_min = speed/60,
                   year = year-1)

In [ ]:
head(muestra_fl)

  year month day arr_delay dep_delay distance air_time gain speed    speed_min
1 2012 1     1    11        2        1400     227        9  370.0441 6.167401
2 2012 1     1    20        4        1416     227       16  374.2731 6.237885
3 2012 1     1    33        2        1089     160       31  408.3750 6.806250
4 2012 1     1   -18       -1        1576     183      -17  516.7213 8.612022
5 2012 1     1   -25       -6         762     116      -19  394.1379 6.568966
6 2012 1     1    12       -4         719     150       16  287.6000 4.793333

### Operador %>%

El operador estrella de dplyr. Funciona como una composición de funciones, y nos permite generar _pipe-lines_, permitiendo  que la generación  del código sea más ordenada, y con ello, su lectura más sencilla.

Este operdaor actua de la sifuiente manera, <br>

    x %>% f(y) , es equivalente a,  f(x,y)

In [4]:
# Operador %>% ----------------------------------------------------------------
# Ejemplo sencillo
head(vuelos,3)


# Utilizando %>%
vuelos |> head(3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515            2         830      819
2 2013 1     1   533      529            4         850      830
3 2013 1     1   542      540            2         923      850
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
3 33        AA      1141   N619AA  JFK    MIA  160      1089     5    40
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515            2         830      819
2 2013 1     1   533      529            4         850      830
3 2013 1     1   542      540            2         923      850
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
3 33        AA      1141   N619AA  JFK    MIA  160      1089     5    40
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00

In [ ]:
count(vuelos, origin)

  origin n
1 EWR    120835
2 JFK    111279
3 LGA    104662

In [ ]:
vuelos %>% count(origin) # x %>% f(y) es lo mismo que f(x,y)

  origin n
1 EWR    120835
2 JFK    111279
3 LGA    104662

In [ ]:
# Genere el conteo de vuelos por mes y día,
# luego filtre por aquellos registros donde el día es 1,
# ordene de manera descendente por n,
# finalmente muestra la cabecera del dataset resultante, con 10 registros..

## ANTES
head(
  arrange(
    filter(
      count(
        vuelos, month, day
        ),
        day == 1
        ), desc(n)
        ),
        10)

   month day n
1   8    1   1000
2  12    1    987
3  11    1    986
4   4    1    970
5   7    1    966
6  10    1    965
7   5    1    964
8   3    1    958
9   2    1    926
10  1    1    842

In [ ]:
# Entre el paso 1 y 2 agregar una columna llamada max_vuelos que repita el máximo de vuelos alcanzado en algún día (max(n))
head(
  arrange(
    filter(
      mutate(count(
        vuelos, month, day
        ), max_vuelos = max(n)),
        day == 1
        ), desc(n)
        ),
        10)

   month day n    max_vuelos
1   8    1   1000 1014
2  12    1    987 1014
3  11    1    986 1014
4   4    1    970 1014
5   7    1    966 1014
6  10    1    965 1014
7   5    1    964 1014
8   3    1    958 1014
9   2    1    926 1014
10  1    1    842 1014

In [ ]:
# Genere el conteo de vuelos por mes y día,
# luego filtre por aquellos registros donde el día es 1,
# ordene de manera descendente por n,
# finalmente muestra la cabecera del dataset resultante con 10 registros.

## AHORA
vuelos %>%
  count(month, day) %>%
  filter(day == 1) %>%
  arrange(desc(n)) %>%
  head(10)

   month day n
1   8    1   1000
2  12    1    987
3  11    1    986
4   4    1    970
5   7    1    966
6  10    1    965
7   5    1    964
8   3    1    958
9   2    1    926
10  1    1    842

In [ ]:
# Entre el paso 1 y 2 agregar una columna llamada max_vuelos que repita el máximo de vuelos alcanzado en algún día (max(n))
vuelos %>%
  count(month, day) %>%
  mutate(max_vuelos = max(n)) %>%
  filter(day == 1) %>%
  arrange(desc(n)) %>%
  head(10)

   month day n    max_vuelos
1   8    1   1000 1014
2  12    1    987 1014
3  11    1    986 1014
4   4    1    970 1014
5   7    1    966 1014
6  10    1    965 1014
7   5    1    964 1014
8   3    1    958 1014
9   2    1    926 1014
10  1    1    842 1014

In [ ]:
# A la consulta anterior (despues del count) podríamos agregar una nueva columna indicando si el total de vuelos es mayor a 970
vuelos %>%
  count(month, day) %>%
  mutate(es_alto = n > 970) %>%
  mutate(max_vuelos = max(n)) %>%
  filter(day == 1) %>%
  arrange(desc(n)) %>%
  head(10)

   month day n    max_vuelos es_alto
1   8    1   1000 1014        TRUE
2  12    1    987 1014        TRUE
3  11    1    986 1014        TRUE
4   4    1    970 1014       FALSE
5   7    1    966 1014       FALSE
6  10    1    965 1014       FALSE
7   5    1    964 1014       FALSE
8   3    1    958 1014       FALSE
9   2    1    926 1014       FALSE
10  1    1    842 1014       FALSE

In [ ]:
# Genere una nueva variable llamada day2 que pegue un "0"
# a la variable day si es que esta contiene un dígito del 1 al 9.
# Para pegar cadena de caracteres sin espacios puede utilizar
# la función paste0, o con espacios por defecto, la función paste

paste("hola", "Miguel")
paste("hola", "Miguel", sep = ".")
paste("hola", "Miguel", sep = "")

paste0("hola", "Miguel")

[1] "hola Miguel"

[1] "hola.Miguel"

[1] "holaMiguel"

[1] "holaMiguel"

## NOTA: Sentencia if else (para el caso de vectores)
`ifelse(condicion, output TRUE, output FALSE)`

In [ ]:
v2 <- c(6,1,8,3,9)

# Quiero retornar "A" si el valor es mayor a 5 y "B" si es menor o igual a 5.

ifelse(v2 > 5, "A", "B")

[1] "A" "B" "A" "B" "A"

In [ ]:
vuelos %>%
  mutate(day2 = ifelse( day <= 9, paste0("0",day), day),
         month2 = ifelse( month <= 9, paste0("0",month), month),
         no_fecha = paste(year, month2, day2, sep = "-"),
         fecha = as.Date(no_fecha)) %>%
  filter(fecha >= "2013-09-01" & fecha <= "2013-09-15") # Esto nos facilita la búsqueda por fechas.

      year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1     2013 9     1     9      2359            10       343       340
2     2013 9     1   117      2245           152       218      2359
3     2013 9     1   508       516            -8       717       800
4     2013 9     1   537       545            -8       849       855
5     2013 9     1   537       545            -8       906       921
6     2013 9     1   549       600           -11       815       850
7     2013 9     1   552       600            -8       843       905
8     2013 9     1   553       600            -7       809       834
9     2013 9     1   554       600            -6       700       716
10    2013 9     1   554       600            -6       803       823
11    2013 9     1   554       600            -6       657       715
12    2013 9     1   555       600            -5       835       851
13    2013 9     1   557       600            -3       706       716
14    2013 9     1   557       600            -3       718       740
15    2013 9     1   600       600             0       803       815
16    2013 9     1   600       610           -10       824       855
17    2013 9     1   600       600             0       740       752
18    2013 9     1   602       605            -3       853       855
19    2013 9     1   604       605            -1       823       839
20    2013 9     1   605       610            -5       747       806
21    2013 9     1   614       611             3       951       954
22    2013 9     1   617       620            -3       829       840
23    2013 9     1   619       623            -4       713       737
24    2013 9     1   619       629           -10       900       929
25    2013 9     1   621       630            -9       903       924
26    2013 9     1   622       630            -8       732       805
27    2013 9     1   625       629            -4       751       804
28    2013 9     1   625       629            -4       944       951
29    2013 9     1   626       630            -4       842       904
30    2013 9     1   627       630            -3       733       747
⋮     ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
13527 2013 9     15  2131     2140           -9        2243     2255
13528 2013 9     15  2133     2120           13        2344     2354
13529 2013 9     15  2135     2110           25        2302     2302
13530 2013 9     15  2137     2140           -3          21       40
13531 2013 9     15  2142     2122           20        2325     2320
13532 2013 9     15  2142     2129           13        2246     2236
13533 2013 9     15  2144     2145           -1         122      140
13534 2013 9     15  2144     2137            7          26       27
13535 2013 9     15  2153     2029           84        2347     2225
13536 2013 9     15  2154     2159           -5        2240     2303
13537 2013 9     15  2155     2149            6        2300     2256
13538 2013 9     15  2158     2205           -7        2314     2331
13539 2013 9     15  2206     2200            6        2302     2312
13540 2013 9     15  2210     2152           18        2314     2304
13541 2013 9     15  2237     2122           75          52     2353
13542 2013 9     15  2243     2245           -2        2341     2356
13543 2013 9     15  2243     2245           -2        2344     2353
13544 2013 9     15  2244     2129           75        2355     2239
13545 2013 9     15  2247     2246            1           1        1
13546 2013 9     15  2247     2245            2        2346     2351
13547 2013 9     15  2249     2255           -6        2353     2358
13548 2013 9     15  2351     2359           -8         332      350
13549 2013 9     15    NA     1930           NA          NA     2049
13550 2013 9     15    NA      815           NA          NA      948
13551 2013 9     15    NA     1550           NA          NA     1818
13552 2013 9     15    NA      835           NA          NA     1001
13553 2013 9     15    NA     1600           NA          NA     1757
13554 2013 9     15    NA     1600           NA          NA     1715
13555 2013 9     15    NA     1159           NA          NA     1309
13556 2013 9     15    NA     1205           NA          NA     1350
      arr_delay carrier ⋯ air_time distance hour minute time_hour
1       3       B6      ⋯ 196      1576     23   59     2013-09-01 23:00:00
2     139       B6      ⋯  44       209     22   45     2013-09-01 22:00:00
3     -43       UA      ⋯ 170      1400      5   16     2013-09-01 05:00:00
4      -6       AA      ⋯ 148      1089      5   45     2013-09-01 05:00:00
5     -15       B6      ⋯ 191      1576      5   45     2013-09-01 05:00:00
6     -35       UA      ⋯ 133       997      6    0     2013-09-01 06:00:00
7     -22       AA      ⋯ 149      1096      6    0     2013-09-01 06:00:00
8     -25       B6      ⋯ 117       937      6    0     2013-09-01 06:00:00
9     -16       EV      ⋯  39       229      6    0     2013-09-01 06:00:00
10    -20       DL      ⋯ 105       762      6    0     2013-09-01 06:00:00
11    -18       MQ      ⋯ 104       719      6    0     2013-09-01 06:00:00
12    -16       B6      ⋯ 139      1076      6    0     2013-09-01 06:00:00
13    -10       EV      ⋯  43       228      6    0     2013-09-01 06:00:00
14    -22       WN      ⋯ 125       888      6    0     2013-09-01 06:00:00
15    -12       FL      ⋯ 105       762      6    0     2013-09-01 06:00:00
16    -31       AA      ⋯ 185      1389      6   10     2013-09-01 06:00:00
17    -12       DL      ⋯  79       502      6    0     2013-09-01 06:00:00
18     -2       B6      ⋯ 141      1069      6    5     2013-09-01 06:00:00
19    -16       B6      ⋯ 121       944      6    5     2013-09-01 06:00:00
20    -19       DL      ⋯ 142      1020      6   10     2013-09-01 06:00:00
21     -3       B6      ⋯ 197      1598      6   11     2013-09-01 06:00:00
22    -11       DL      ⋯ 105       760      6   20     2013-09-01 06:00:00
23    -24       EV      ⋯  39       212      6   23     2013-09-01 06:00:00
24    -29       AA      ⋯ 140      1085      6   29     2013-09-01 06:00:00
25    -21       B6      ⋯ 146      1074      6   30     2013-09-01 06:00:00
26    -33       AA      ⋯ 104       733      6   30     2013-09-01 06:00:00
27    -13       EV      ⋯  61       404      6   29     2013-09-01 06:00:00
28     -7       UA      ⋯ 358      2565      6   29     2013-09-01 06:00:00
29    -22       B6      ⋯ 120       950      6   30     2013-09-01 06:00:00
30    -14       B6      ⋯  54       301      6   30     2013-09-01 06:00:00
⋮     ⋮         ⋮       ⋱ ⋮        ⋮        ⋮    ⋮      ⋮
13527 -12       MQ      ⋯  47       213     21   40     2013-09-15 21:00:00
13528 -10       B6      ⋯ 110       828     21   20     2013-09-15 21:00:00
13529   0       EV      ⋯  68       500     21   10     2013-09-15 21:00:00
13530 -19       AA      ⋯ 320      2475     21   40     2013-09-15 21:00:00
13531   5       EV      ⋯  84       488     21   22     2013-09-15 21:00:00
13532  10       EV      ⋯  48       284     21   29     2013-09-15 21:00:00
13533 -18       B6      ⋯ 198      1598     21   45     2013-09-15 21:00:00
13534  -1       B6      ⋯ 144      1076     21   37     2013-09-15 21:00:00
13535  82       EV      ⋯  88       533     20   29     2013-09-15 20:00:00
13536 -23       EV      ⋯  28       143     21   59     2013-09-15 21:00:00
13537   4       EV      ⋯  36       209     21   49     2013-09-15 21:00:00
13538 -17       EV      ⋯  52       378     22    5     2013-09-15 22:00:00
13539 -10       9E      ⋯  36       198     22    0     2013-09-15 22:00:00
13540  10       UA      ⋯  45       200     21   52     2013-09-15 21:00:00
13541  59       EV      ⋯ 110       820     21   22     2013-09-15 21:00:00
13542 -15       B6      ⋯  44       273     22   45     2013-09-15 22:00:00
13543  -9       B6      ⋯  43       266     22   45     2013-09-15 22:00:00
13544  76       EV      ⋯  40       199     21   29     2013-09-15 21:00:00
13545   0       B6      ⋯  49       264     22   46     2013-09-15 22:00:00
13546  -5       B6      ⋯  42       209     22   45     2013-09-15 22:00:00
13547  -5       B6      ⋯  34       187     22   55     2013-09-15 22:00:00
13548 -18       B6      ⋯ 200      1617     23   59     2013-09-15 23:00:00
13549  NA       EV      ⋯  NA       229     19   30     2013-09-15 19:00:00
13550  NA       9E      ⋯  NA       301      8   15     2013-09-15 08:00:00
13551  NA       9E      ⋯  NA      1107     15   50     2013-09-15 15:00:00
13552  NA       9E      ⋯  NA       213      8   35     2013-09-15 08:00:00
13553  NA       9E      ⋯  NA       740     16    0     2013-09-15 16:00:00
13554  NA       US      ⋯  NA       184     16    0     2013-09-15 16:00:00
13555  NA       MQ      ⋯  NA       213     11   59     2013-09-15 11:00:00
13556  NA       MQ      ⋯  NA       431     12    5     2013-09-15 12:00:00
      retraso_neto day2 month2 no_fecha   fecha
1      13          01   09     2013-09-01 2013-09-01
2     291          01   09     2013-09-01 2013-09-01
3     -51          01   09     2013-09-01 2013-09-01
4     -14          01   09     2013-09-01 2013-09-01
5     -23          01   09     2013-09-01 2013-09-01
6     -46          01   09     2013-09-01 2013-09-01
7     -30          01   09     2013-09-01 2013-09-01
8     -32          01   09     2013-09-01 2013-09-01
9     -22          01   09     2013-09-01 2013-09-01
10    -26          01   09     2013-09-01 2013-09-01
11    -24          01   09     2013-09-01 2013-09-01
12    -21          01   09     2013-09-01 2013-09-01
13    -13          01   09     2013-09-01 2013-09-01
14    -25          01   09     2013-09-01 2013-09-01
15    -12          01   09     2013-09-01 2013-09-01
16    -41          01   09     2013-09-01 2013-09-01
17    -12          01   09     2013-09-01 2013-09-01
18     -5          01   09     2013-09-01 2013-09-01
19    -17          01   09     2013-09-01 2013-09-01
20    -24          01   09     2013-09-01 2013-09-01
21      0          01   09     2013-09-01 2013-09-01
22    -14          01   09     2013-09-01 2013-09-01
23    -28          01   09     2013-09-01 2013-09-01
24    -39          01   09     2013-09-01 2013-09-01
25    -30          01   09     2013-09-01 2013-09-01
26    -41          01   09     2013-09-01 2013-09-01
27    -17          01   09     2013-09-01 2013-09-01
28    -11          01   09     2013-09-01 2013-09-01
29    -26          01   09     2013-09-01 2013-09-01
30    -17          01   09     2013-09-01 2013-09-01
⋮     ⋮            ⋮    ⋮      ⋮          ⋮
13527 -21          15   09     2013-09-15 2013-09-15
13528   3          15   09     2013-09-15 2013-09-15
13529  25          15   09     2013-09-15 2013-09-15
13530 -22          15   09     2013-09-15 2013-09-15
13531  25          15   09     2013-09-15 2013-09-15
13532  23          15   09     2013-09-15 2013-09-15
13533 -19          15   09     2013-09-15 2013-09-15
13534   6          15   09     2013-09-15 2013-09-15
13535 166          15   09     2013-09-15 2013-09-15
13536 -28          15   09     2013-09-15 2013-09-15
13537  10          15   09     2013-09-15 2013-09-15
13538 -24          15   09     2013-09-15 2013-09-15
13539  -4          15   09     2013-09-15 2013-09-15
13540  28          15   09     2013-09-15 2013-09-15
13541 134          15   09     2013-09-15 2013-09-15
13542 -17          15   09     2013-09-15 2013-09-15
13543 -11          15   09     2013-09-15 2013-09-15
13544 151          15   09     2013-09-15 2013-09-15
13545   1          15   09     2013-09-15 2013-09-15
13546  -3          15   09     2013-09-15 2013-09-15
13547 -11          15   09     2013-09-15 2013-09-15
13548 -26          15   09     2013-09-15 2013-09-15
13549  NA          15   09     2013-09-15 2013-09-15
13550  NA          15   09     2013-09-15 2013-09-15
13551  NA          15   09     2013-09-15 2013-09-15
13552  NA          15   09     2013-09-15 2013-09-15
13553  NA          15   09     2013-09-15 2013-09-15
13554  NA          15   09     2013-09-15 2013-09-15
13555  NA          15   09     2013-09-15 2013-09-15
13556  NA          15   09     2013-09-15 2013-09-15

In [ ]:
# Con esta variable genere un entero llamado fecha, que concatena year,month y day 2.

### 4.5 Función group_by() y summarise()

La función `summarise()` calcula medidas agregadas sobre columnas, mientras que la función `group_by`, genera un data.frame "en bloques" dados por la(s) columna(s) ingresadas como parámetros en la función.

In [5]:
# group_by() y summarise() ----------------------------------------------------------------
# Ejemplo sencillo
exam2 <- data.frame(
  x = c(1:5),
  y = c(7:11),
  z = c("A", "B", "A", "B", "C")
)
exam2

  x y  z
1 1  7 A
2 2  8 B
3 3  9 A
4 4 10 B
5 5 11 C

In [6]:
exam2 %>%
  group_by(z)

  x y  z
1 1  7 A
2 2  8 B
3 3  9 A
4 4 10 B
5 5 11 C

In [7]:
# Sin agrupar
# Crear una columna que contenga el nº de fila
exam2 %>%
  mutate(nf = row_number())

  x y  z nf
1 1  7 A 1
2 2  8 B 2
3 3  9 A 3
4 4 10 B 4
5 5 11 C 5

In [8]:
# Podemos generar un número de fila por cada grupo
exam2 %>%
  group_by(z) %>%
  mutate(nf = row_number())

  x y  z nf
1 1  7 A 1
2 2  8 B 1
3 3  9 A 2
4 4 10 B 2
5 5 11 C 1

In [10]:
exam2 %>%
  mutate(tot_x = sum(x))

  x y  z tot_x
1 1  7 A 15
2 2  8 B 15
3 3  9 A 15
4 4 10 B 15
5 5 11 C 15

In [11]:
exam2 %>%
  group_by(z) %>%
  mutate(tot_x = sum(x))

  x y  z tot_x
1 1  7 A 4
2 2  8 B 6
3 3  9 A 4
4 4 10 B 6
5 5 11 C 5

In [12]:
# 1) Aplicar la función summarise a la columna 'y' y calcular su promedio. Lo mismo para la suma de x. # NO CONFUNDIR CON summary()
exam2 %>%
  summarise(suma_x = sum(x),
            prom_y = mean(y))

  suma_x prom_y
1 15     9

In [14]:
exam2

  x y  z
1 1  7 A
2 2  8 B
3 3  9 A
4 4 10 B
5 5 11 C

In [13]:
exam2 %>%
  group_by(z) %>%
  summarise(suma_x = sum(x),
            prom_y = mean(y))

  z suma_x prom_y
1 A 4       8
2 B 6       9
3 C 5      11

In [ ]:
# 2) Generar grupos según la variable z. (a diferencia de sql, el comando group_by() no requiere de una medida agregada para que este funcione.)
# select z, avg(x) mean_x, sum(x) tot_x from exam2 group by z

In [15]:
# 3) Calcular media de x e y en cada valor de z.
# podemos calcular máximos y mínimos
exam2 %>%
  group_by(z) %>%
  summarise(suma_x = sum(x),
            prom_y = mean(y),
            min_x = min(x),
            desv_est_y = sd(y) )

  z suma_x prom_y min_x desv_est_y
1 A 4       8     1     1.414214
2 B 6       9     2     1.414214
3 C 5      11     5           NA

In [16]:
# promedio de retraso de llegada por origen-destino
vuelos %>%
  group_by(origin,dest) %>%
  summarise(prom_arr_del = mean(arr_delay))

`summarise()` has grouped output by 'origin'. You can override using the
`.groups` argument.

    origin dest prom_arr_del
1   EWR    ALB    NA
2   EWR    ANC  -2.5
3   EWR    ATL    NA
4   EWR    AUS    NA
5   EWR    AVL    NA
6   EWR    BDL    NA
7   EWR    BNA    NA
8   EWR    BOS    NA
9   EWR    BQN    NA
10  EWR    BTV    NA
11  EWR    BUF    NA
12  EWR    BWI    NA
13  EWR    BZN    NA
14  EWR    CAE    NA
15  EWR    CHS    NA
16  EWR    CLE    NA
17  EWR    CLT    NA
18  EWR    CMH    NA
19  EWR    CVG    NA
20  EWR    DAY    NA
21  EWR    DCA    NA
22  EWR    DEN    NA
23  EWR    DFW    NA
24  EWR    DSM    NA
25  EWR    DTW    NA
26  EWR    EGE    NA
27  EWR    FLL    NA
28  EWR    GRR    NA
29  EWR    GSO    NA
30  EWR    GSP    NA
⋮   ⋮      ⋮    ⋮
195 LGA    MDW         NA
196 LGA    MEM         NA
197 LGA    MHT         NA
198 LGA    MIA         NA
199 LGA    MKE         NA
200 LGA    MSN         NA
201 LGA    MSP         NA
202 LGA    MSY         NA
203 LGA    MYR   -3.00000
204 LGA    OMA         NA
205 LGA    ORD         NA
206 LGA    ORF         NA
207 LGA    PBI         NA
208 LGA    PHL         NA
209 LGA    PIT         NA
210 LGA    PWM         NA
211 LGA    RDU         NA
212 LGA    RIC         NA
213 LGA    ROC         NA
214 LGA    RSW         NA
215 LGA    SAV  -10.51471
216 LGA    SBN   14.50000
217 LGA    SDF         NA
218 LGA    SRQ         NA
219 LGA    STL         NA
220 LGA    SYR         NA
221 LGA    TPA         NA
222 LGA    TVC         NA
223 LGA    TYS         NA
224 LGA    XNA         NA

In [18]:
# Existiràn vuelos entre EWR y	ALB?
vuelos %>%
  filter(origin == "EWR" & dest == "ALB")	%>%
  nrow()# Sí, si hay vuelos entre estos dos aeropuertos

[1] 439

In [19]:
vuelos %>%
  filter(origin == "EWR" & dest == "ALB")	# Hay NA's en arr_delay

    year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1   2013 1      1  1315     1317            -2       1413     1423
2   2013 1      1  1655     1621            34       1804     1724
3   2013 1      1  2056     2004            52       2156     2112
4   2013 1      2  1332     1327             5       1419     1433
5   2013 1      2  1746     1621            85       1835     1724
6   2013 1      2  2148     2004           104       2234     2112
7   2013 1      3  1716     1619            57       1803     1723
8   2013 1      3  2031     2038            -7       2131     2139
9   2013 1      4  1618     1619            -1       1714     1723
10  2013 1      4  2031     2000            31       2131     2101
11  2013 1      5  1619     1620            -1       1714     1724
12  2013 1      5  1959     2000            -1       2056     2104
13  2013 1      6  1755     1619            96       1858     1723
14  2013 1      6  2004     2005            -1       2113     2109
15  2013 1      7  1619     1619             0       1714     1723
16  2013 1      7  2045     2000            45       2142     2101
17  2013 1      8  1618     1619            -1       1708     1723
18  2013 1      8  2005     2000             5       2056     2101
19  2013 1      9  1615     1619            -4       1706     1723
20  2013 1      9  1954     2000            -6       2045     2101
21  2013 1     10  1801     1619           102       1923     1723
22  2013 1     10  2127     2038            49       2214     2139
23  2013 1     11  1614     1619            -5       1718     1723
24  2013 1     11  1956     2000            -4       2059     2101
25  2013 1     12  1619     1620            -1       1718     1724
26  2013 1     12  1958     2000            -2       2049     2104
27  2013 1     13  1721     1619            62       1821     1723
28  2013 1     13  2034     2005            29       2152     2109
29  2013 1     14  1616     1619            -3       1709     1723
30  2013 1     14  2022     2000            22       2115     2101
⋮   ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
410 2013 8     16   717      720            -3        810      831
411 2013 8     17   714      720            -6        803      831
412 2013 8     19   717      720            -3        810      831
413 2013 8     20   711      720            -9        800      831
414 2013 8     21   715      720            -5        813      831
415 2013 8     22   728      720             8        836      831
416 2013 8     23   721      720             1        813      831
417 2013 8     24   720      720             0        811      831
418 2013 8     26   715      720            -5        808      831
419 2013 8     27  2153     2159            -6       2242     2307
420 2013 9      5  2155     2159            -4       2248     2307
421 2013 9      6  2207     2159             8       2255     2303
422 2013 9      7  2157     2159            -2       2253     2303
423 2013 9      8  2156     2159            -3       2250     2303
424 2013 9      9  2151     2159            -8       2242     2303
425 2013 9     10  2237     2159            38       2328     2303
426 2013 9     11  2254     2159            55       2336     2303
427 2013 9     12    NA     2159            NA         NA     2303
428 2013 9     13  2158     2159            -1       2300     2303
429 2013 9     14  2156     2159            -3       2240     2303
430 2013 9     15  2154     2159            -5       2240     2303
431 2013 9     16  2145     2159           -14       2233     2303
432 2013 9     17  2149     2159           -10       2235     2303
433 2013 9     18  2215     2159            16       2301     2303
434 2013 9     19  2155     2159            -4       2243     2303
435 2013 9     20  2154     2159            -5       2245     2303
436 2013 9     21  2153     2159            -6       2241     2303
437 2013 9     22  2156     2159            -3       2243     2303
438 2013 9     23  2228     2159            29       2312     2303
439 2013 9     24  2151     2159            -8       2240     2303
    arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   -10       EV      4112   N13538  EWR    ALB  33       143      13   17
2    40       EV      3260   N19554  EWR    ALB  36       143      16   21
3    44       EV      4170   N12540  EWR    ALB  31       143      20    4
4   -14       EV      4316   N14153  EWR    ALB  33       143      13   27
5    71       EV      3260   N14153  EWR    ALB  31       143      16   21
6    82       EV      4170   N12540  EWR    ALB  30       143      20    4
7    40       EV      4271   N31131  EWR    ALB  31       143      16   19
8    -8       EV      4309   N16561  EWR    ALB  37       143      20   38
9    -9       EV      4271   N12567  EWR    ALB  33       143      16   19
10   30       EV      4309   N12540  EWR    ALB  31       143      20    0
11  -10       EV      4271   N14179  EWR    ALB  30       143      16   20
12   -8       EV      4309   N21144  EWR    ALB  31       143      20    0
13   95       EV      4271   N14916  EWR    ALB  30       143      16   19
14    4       EV      4309   N14953  EWR    ALB  31       143      20    5
15   -9       EV      4271   N15973  EWR    ALB  29       143      16   19
16   41       EV      4309   N19554  EWR    ALB  28       143      20    0
17  -15       EV      4271   N12201  EWR    ALB  33       143      16   19
18   -5       EV      4309   N13955  EWR    ALB  30       143      20    0
19  -17       EV      4271   N14153  EWR    ALB  33       143      16   19
20  -16       EV      4309   N36915  EWR    ALB  36       143      20    0
21  120       EV      4271   N14148  EWR    ALB  32       143      16   19
22   35       EV      4309   N13955  EWR    ALB  28       143      20   38
23   -5       EV      4271   N16147  EWR    ALB  36       143      16   19
24   -2       EV      4309   N13994  EWR    ALB  36       143      20    0
25   -6       EV      4271   N14188  EWR    ALB  36       143      16   20
26  -15       EV      4309   N12922  EWR    ALB  30       143      20    0
27   58       EV      4271   N12166  EWR    ALB  45       143      16   19
28   43       EV      4309   N18557  EWR    ALB  34       143      20    5
29  -14       EV      4271   N12195  EWR    ALB  32       143      16   19
30   14       EV      4309   N12564  EWR    ALB  30       143      20    0
⋮   ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮    ⋮
410 -21       EV      4565   N13956  EWR    ALB  30       143       7   20
411 -28       EV      4565   N13958  EWR    ALB  31       143       7   20
412 -21       EV      4565   N11181  EWR    ALB  32       143       7   20
413 -31       EV      4565   N11184  EWR    ALB  29       143       7   20
414 -18       EV      4565   N14168  EWR    ALB  28       143       7   20
415   5       EV      4565   N14174  EWR    ALB  31       143       7   20
416 -18       EV      4565   N14173  EWR    ALB  30       143       7   20
417 -20       EV      4565   N12167  EWR    ALB  29       143       7   20
418 -23       EV      4565   N14174  EWR    ALB  34       143       7   20
419 -25       EV      5976   N12175  EWR    ALB  26       143      21   59
420 -19       EV      4396   N27962  EWR    ALB  30       143      21   59
421  -8       EV      6043   N21537  EWR    ALB  26       143      21   59
422 -10       EV      4396   N13903  EWR    ALB  33       143      21   59
423 -13       EV      4264   N11113  EWR    ALB  29       143      21   59
424 -21       EV      4264   N16951  EWR    ALB  32       143      21   59
425  25       EV      6043   N13566  EWR    ALB  34       143      21   59
426  33       EV      6043   N10575  EWR    ALB  27       143      21   59
427  NA       EV      6043   N10575  EWR    ALB  NA       143      21   59
428  -3       EV      6043   N13914  EWR    ALB  36       143      21   59
429 -23       EV      4396   N13903  EWR    ALB  29       143      21   59
430 -23       EV      4264   N16951  EWR    ALB  28       143      21   59
431 -30       EV      4264   N14952  EWR    ALB  29       143      21   59
432 -28       EV      6043   N15555  EWR    ALB  30       143      21   59
433  -2       EV      6043   N15985  EWR    ALB  29       143      21   59
434 -20       EV      6043   N13979  EWR    ALB  29       143      21   59
435 -18       EV      6043   N11551  EWR    ALB  34       143      21   59
436 -22       EV      4396   N15985  EWR    ALB  32       143      21   59
437 -20       EV      4264   N14174  EWR    ALB  28       143      21   59
438   9       EV      4264   N15910  EWR    ALB  27       143      21   59
439 -23       EV      6043   N16951  EWR    ALB  31       143      21   59
    time_hour
1   2013-01-01 13:00:00
2   2013-01-01 16:00:00
3   2013-01-01 20:00:00
4   2013-01-02 13:00:00
5   2013-01-02 16:00:00
6   2013-01-02 20:00:00
7   2013-01-03 16:00:00
8   2013-01-03 20:00:00
9   2013-01-04 16:00:00
10  2013-01-04 20:00:00
11  2013-01-05 16:00:00
12  2013-01-05 20:00:00
13  2013-01-06 16:00:00
14  2013-01-06 20:00:00
15  2013-01-07 16:00:00
16  2013-01-07 20:00:00
17  2013-01-08 16:00:00
18  2013-01-08 20:00:00
19  2013-01-09 16:00:00
20  2013-01-09 20:00:00
21  2013-01-10 16:00:00
22  2013-01-10 20:00:00
23  2013-01-11 16:00:00
24  2013-01-11 20:00:00
25  2013-01-12 16:00:00
26  2013-01-12 20:00:00
27  2013-01-13 16:00:00
28  2013-01-13 20:00:00
29  2013-01-14 16:00:00
30  2013-01-14 20:00:00
⋮   ⋮
410 2013-08-16 07:00:00
411 2013-08-17 07:00:00
412 2013-08-19 07:00:00
413 2013-08-20 07:00:00
414 2013-08-21 07:00:00
415 2013-08-22 07:00:00
416 2013-08-23 07:00:00
417 2013-08-24 07:00:00
418 2013-08-26 07:00:00
419 2013-08-27 21:00:00
420 2013-09-05 21:00:00
421 2013-09-06 21:00:00
422 2013-09-07 21:00:00
423 2013-09-08 21:00:00
424 2013-09-09 21:00:00
425 2013-09-10 21:00:00
426 2013-09-11 21:00:00
427 2013-09-12 21:00:00
428 2013-09-13 21:00:00
429 2013-09-14 21:00:00
430 2013-09-15 21:00:00
431 2013-09-16 21:00:00
432 2013-09-17 21:00:00
433 2013-09-18 21:00:00
434 2013-09-19 21:00:00
435 2013-09-20 21:00:00
436 2013-09-21 21:00:00
437 2013-09-22 21:00:00
438 2013-09-23 21:00:00
439 2013-09-24 21:00:00

In [21]:
# Cuantos NA hay en arr_delay en dicha combinación de aeropuertos?
vuelos %>%
  filter(origin == "EWR" & dest == "ALB" & is.na(arr_delay)) %>%	# Hay NA's en arr_delay
  nrow()# 21 registros donde arr_del es NA.

[1] 21

In [26]:
#OJO co los NA's cuando pedimos algunos estadísticos como mean() u otros
mean(c(1,2,NA,3,4))
mean(c(1,2,NA,3,4), na.rm = T)
mean(c(1,2,3,4))

[1] NA

[1] 2.5

[1] 2.5

In [31]:
vuelos %>%
  group_by(origin,dest) %>%
  summarise(prom_arr_del = mean(arr_delay,na.rm = T),
            tot_vuelos = n()) # Con la función n() podemos generar conteos dentro de summarise(). O más bien Dentro de un flujo de dplyr.

`summarise()` has grouped output by 'origin'. You can override using the
`.groups` argument.

    origin dest prom_arr_del tot_vuelos
1   EWR    ALB  14.3971292    439
2   EWR    ANC  -2.5000000      8
3   EWR    ATL  13.2331829   5022
4   EWR    AUS  -0.4743992    968
5   EWR    AVL   8.8047809    265
6   EWR    BDL   7.0485437    443
7   EWR    BNA  12.7081660   2336
8   EWR    BOS   4.7836859   5327
9   EWR    BQN  10.8644068    297
10  EWR    BTV  12.1862302    931
11  EWR    BUF   9.6965812    973
12  EWR    BWI  15.0763359    545
13  EWR    BZN   7.6000000     36
14  EWR    CAE  44.5851064    104
15  EWR    CHS  16.1861504   1424
16  EWR    CLE   5.0358382   1754
17  EWR    CLT   7.7819334   5026
18  EWR    CMH   9.6020408    724
19  EWR    CVG  14.9255869   2673
20  EWR    DAY  18.3841060   1134
21  EWR    DCA  21.3139757   1719
22  EWR    DEN   9.0337478   2859
23  EWR    DFW   1.8981420   3148
24  EWR    DSM  23.5487179    411
25  EWR    DTW  10.9155866   3178
26  EWR    EGE  -5.3490566    110
27  EWR    FLL   7.7612299   3793
28  EWR    GRR  19.3706395    719
29  EWR    GSO  17.6622010   1120
30  EWR    GSP  18.1430636    745
⋮   ⋮      ⋮    ⋮            ⋮
195 LGA    MDW   11.0500736  2070
196 LGA    MEM    1.3464286   862
197 LGA    MHT   17.5277778   142
198 LGA    MIA   -0.0657664  5781
199 LGA    MKE    7.2528736  1525
200 LGA    MSN   15.2890995   218
201 LGA    MSP    6.1312155  3713
202 LGA    MSY    2.3336673  1011
203 LGA    MYR   -3.0000000     3
204 LGA    OMA   13.7362637    95
205 LGA    ORD    1.8334313  8857
206 LGA    ORF    7.7846154   206
207 LGA    PBI    6.0152326  2464
208 LGA    PHL    5.7792642   607
209 LGA    PIT    9.6343874  1067
210 LGA    PWM    1.8608059   278
211 LGA    RDU    8.4166172  3581
212 LGA    RIC    5.6424242   538
213 LGA    ROC    1.8101852   224
214 LGA    RSW    7.0611702   761
215 LGA    SAV  -10.5147059    68
216 LGA    SBN   14.5000000     6
217 LGA    SDF   -3.4428571   217
218 LGA    SRQ    4.5939643   737
219 LGA    STL    4.0882852  1822
220 LGA    SYR    9.2527881   293
221 LGA    TPA    8.2064911  2145
222 LGA    TVC   15.9726027    77
223 LGA    TYS    3.8943396   308
224 LGA    XNA    7.1142454   745

In [28]:
# NOTA: Sabemos contar registros por combinación de categorías
vuelos %>%
  count(origin,dest)

    origin dest n
1   EWR    ALB   439
2   EWR    ANC     8
3   EWR    ATL  5022
4   EWR    AUS   968
5   EWR    AVL   265
6   EWR    BDL   443
7   EWR    BNA  2336
8   EWR    BOS  5327
9   EWR    BQN   297
10  EWR    BTV   931
11  EWR    BUF   973
12  EWR    BWI   545
13  EWR    BZN    36
14  EWR    CAE   104
15  EWR    CHS  1424
16  EWR    CLE  1754
17  EWR    CLT  5026
18  EWR    CMH   724
19  EWR    CVG  2673
20  EWR    DAY  1134
21  EWR    DCA  1719
22  EWR    DEN  2859
23  EWR    DFW  3148
24  EWR    DSM   411
25  EWR    DTW  3178
26  EWR    EGE   110
27  EWR    FLL  3793
28  EWR    GRR   719
29  EWR    GSO  1120
30  EWR    GSP   745
⋮   ⋮      ⋮    ⋮
195 LGA    MDW  2070
196 LGA    MEM   862
197 LGA    MHT   142
198 LGA    MIA  5781
199 LGA    MKE  1525
200 LGA    MSN   218
201 LGA    MSP  3713
202 LGA    MSY  1011
203 LGA    MYR     3
204 LGA    OMA    95
205 LGA    ORD  8857
206 LGA    ORF   206
207 LGA    PBI  2464
208 LGA    PHL   607
209 LGA    PIT  1067
210 LGA    PWM   278
211 LGA    RDU  3581
212 LGA    RIC   538
213 LGA    ROC   224
214 LGA    RSW   761
215 LGA    SAV    68
216 LGA    SBN     6
217 LGA    SDF   217
218 LGA    SRQ   737
219 LGA    STL  1822
220 LGA    SYR   293
221 LGA    TPA  2145
222 LGA    TVC    77
223 LGA    TYS   308
224 LGA    XNA   745

In [33]:
# ¿Cuáles son los 3 aeropuertos de destino con mayor retraso medio en su llegada?
vuelos %>%
  group_by(dest) %>%
  summarise(prom_arr_del = mean(arr_delay, na.rm = T)) %>%
  arrange(desc(prom_arr_del)) # Según se observa en la tabla, los 3 aeropuertos con mayor.... son CAE, TUL y OKC.

    dest prom_arr_del
1   CAE  41.76415
2   TUL  33.65986
3   OKC  30.61905
4   JAC  28.09524
5   TYS  24.06920
6   MSN  20.19604
7   RIC  20.11125
8   CAK  19.69834
9   DSM  19.00574
10  GRR  18.18956
11  BHM  16.87732
12  PVD  16.23464
13  GSP  15.93544
14  CVG  15.36456
15  SAV  15.12951
16  MHT  14.78755
17  OMA  14.69890
18  CRW  14.67164
19  MCI  14.51406
20  ALB  14.39713
21  MKE  14.16722
22  GSO  14.11260
23  IAD  13.86420
24  TVC  12.96842
25  DAY  12.68049
26  SDF  12.66938
27  MDW  12.36422
28  SMF  12.10993
29  JAX  11.84483
30  BNA  11.81246
⋮   ⋮    ⋮
76  ILM    4.63551402
77  MYR    4.60344828
78  ABQ    4.38188976
79  IAH    4.24079040
80  SJC    3.44817073
81  RSW    3.23814963
82  SAN    3.13916574
83  SRQ    3.08243131
84  OAK    3.07766990
85  BOS    2.91439222
86  SFO    2.67289152
87  SJU    2.52052659
88  HDN    2.14285714
89  PHX    2.09704733
90  MTJ    1.78571429
91  LAX    0.54711094
92  DFW    0.32212685
93  MIA    0.29905978
94  LAS    0.25772849
95  SLC    0.17625459
96  LGB   -0.06202723
97  MVY   -0.28571429
98  SEA   -1.09909910
99  HNL   -1.36519258
100 ANC   -2.50000000
101 STT   -3.83590734
102 SNA   -7.86822660
103 PSP  -12.72222222
104 LEX  -22.00000000
105 LGA           NaN

In [34]:
# Alternativa
vuelos %>%
  group_by(dest) %>%
  summarise(prom_arr_del = mean(arr_delay, na.rm = T)) %>%
  top_n(n = 3, wt = prom_arr_del)

  dest prom_arr_del
1 CAE  41.76415
2 OKC  30.61905
3 TUL  33.65986

In [37]:
# Como hacer esto mismo. Usando row_number() y filter().
vuelos %>%
  group_by(dest) %>%
  summarise(prom_arr_del = mean(arr_delay, na.rm = T)) %>%
  arrange(desc(prom_arr_del)) %>%
  mutate(rk = row_number()) %>%
  filter(rk <= 3)

  dest prom_arr_del rk
1 CAE  41.76415     1
2 TUL  33.65986     2
3 OKC  30.61905     3

In [38]:
names(vuelos)

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

In [ ]:
# si quisiéramos ratar los NA's, podemos hacerlo de la sgte. manera

#consultamos los NA en arr_delay

# Recordar que NA == NA retorna NA . is.na(NA) retorna TRUE

In [42]:
# Si queremos reemplazar los NA's por el promedio de arr_delay (?)
vuelos %>%
  mutate(arr_delay = ifelse(is.na(arr_delay), mean(arr_delay, na.rm = T), arr_delay ) ) %>%
  filter(is.na(arr_delay)) %>% # corroboramos
  nrow()

[1] 0

In [43]:
vuelos %>%
  mutate(arr_delay = ifelse(is.na(arr_delay), mean(arr_delay, na.rm = T), arr_delay ) ) %>%
  summary()

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -16.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -4.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  13.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute       time_hour
 Min.   : 0.00   Length:336776
 1st Qu.: 8.00   Class :character
 Median :29.00   Mode  :character
 Mean   :26.23
 3rd Qu.:44.00
 Max.   :59.00

In [44]:
names(vuelos)

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

In [53]:
# Crear una categoria según el sgte criterio:
# Si la diferencia entre arr_time y sched_arr_time es menor o igual a 10 min, deje "a tiempo"
# Si la diferencia .....                           es mayor a 10 pero menor o igual 60, "retraso medio"
# Si no, "retraso alto"

vuelos %>%
  mutate(
  delta_arr = arr_time - sched_arr_time,
  tipo_retraso = case_when(
    is.na(delta_arr) ~ "Sin info",
    delta_arr <= 10 ~ "a tiempo",
    delta_arr <= 60 ~ "retraso medio",
    TRUE ~ "restraso alto")) %>%
  count(tipo_retraso)

  tipo_retraso  n
1 Sin info        8713
2 a tiempo      238170
3 restraso alto  46785
4 retraso medio  43108

In [ ]:
# (OPCIONAL) ¿Cuál es el promedio de arr_delay y distance por cada aeropuerto de destino?¿Cuántos vuelos llegaron acada uno de los destinos?. Ayuda: Recuerde que el conteo se puede determinar de dos maneras: con la función count() o con la función n().

### 4.6 Función sample_n() y sample_frac()

Estas funciones nos permitirán extraer muestras aleatorias de nuestros conjuntos de datos. Esto será de suma importancia cuando trabajemos con modelos de ML.

In [55]:
# sample_n() y sample_frac()-------------------------------------------------------------
# muestra aleatoria de 100 registros de vuelos
vuelos %>%
  sample_n(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  6    24  2334     2103           151        125     2310
2  2013  6     3   757      744            13       1116     1045
3  2013  9    15  1547     1350           117       1715     1531
4  2013  6    10   917      858            19       1303     1256
5  2013  3     1  2003     2000             3       2218     2245
6  2013 10    15  1858     1835            23       2219     2138
7  2013  2    15  1749     1745             4       1943     1951
8  2013  6    10   631      634            -3        843      845
9  2013 11    18  2042     2045            -3       2324     2344
10 2013  4    23  2023     2030            -7       2302     2332
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  135       UA       311   N585UA  EWR    DEN  198      1605     21    3
2   31       UA       335   N830UA  EWR    FLL  164      1065      7   44
3  104       EV      5465   N753EV  LGA    MSN  120       812     13   50
4    7       UA      1216   N68452  EWR    SJU  208      1608      8   58
5  -27       EV      4204   N11107  EWR    OKC  173      1325     20    0
6   41       DL      1576   N3767   JFK    SAN  340      2446     18   35
7   -8       DL      2331   N349NW  LGA    DTW   86       502     17   45
8   -2       EV      4122   N16919  EWR    SDF  106       642      6   34
9  -20       UA      1115   N17244  EWR    TPA  146       997     20   45
10 -30       UA      1416   N37281  EWR    DFW  196      1372     20   30
   time_hour
1  2013-06-24 21:00:00
2  2013-06-03 07:00:00
3  2013-09-15 13:00:00
4  2013-06-10 08:00:00
5  2013-03-01 20:00:00
6  2013-10-15 18:00:00
7  2013-02-15 17:00:00
8  2013-06-10 06:00:00
9  2013-11-18 20:00:00
10 2013-04-23 20:00:00

In [56]:
vuelos %>%
  sample_frac(0.01)

     year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1    2013  1    23  1826     1830            -4       2021     2015
2    2013  8    22  1842     1709            93       2126     1954
3    2013  2    20  2115     2125           -10       2235     2240
4    2013  8    11   755      755             0        907      915
5    2013  6    23  1829     1821             8       2215     2130
6    2013  1    24  1327     1250            37       1420     1355
7    2013 12     5   824      830            -6       1104     1037
8    2013  5    22   829      830            -1       1006     1015
9    2013  7     1   614      600            14        732      715
10   2013 10    23  1021     1026            -5       1116     1130
11   2013 12    13  1718     1710             8       2016     2021
12   2013 11     3  1838     1840            -2       2020     1958
13   2013  2    16  1346     1350            -4       1649     1643
14   2013  3     3   832      840            -8        946     1014
15   2013  9    17  1150     1129            21       1413     1405
16   2013 12     8  1944     1945            -1       2235     2130
17   2013  6     9  1731     1732            -1       2137     2114
18   2013  7    21  1723     1730            -7       1944     1951
19   2013  6     5   852      850             2       1237     1300
20   2013  3    23  1412     1359            13       1649     1630
21   2013  2    28   656      700            -4        944     1007
22   2013 11    19  2042     1935            67       2328     2235
23   2013  1    27   702      653             9        956      937
24   2013  4     2  1457     1500            -3       1756     1800
25   2013 10     7    NA     1729            NA         NA     1900
26   2013 11     6  1647     1655            -8       1842     1845
27   2013  7    29   610      600            10        727      712
28   2013 10     8  1753     1715            38       2030     2005
29   2013  6     1   748      756            -8        929      954
30   2013  3    22  1725     1725             0       2027     2036
⋮    ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
3339 2013 12    18  1629     1530            59       2030     1915
3340 2013  2    17   718      700            18       1004      955
3341 2013  1     9  1658     1659            -1       2105     2046
3342 2013  9    12  1530     1530             0       1942     1853
3343 2013  3    15  1227     1215            12       1452     1516
3344 2013 10    19  2049     2053            -4       2331     2313
3345 2013  8    23   825      830            -5       1037     1103
3346 2013  2    23  2349     2352            -3        433      437
3347 2013  9     5  1821     1815             6       2103     2128
3348 2013  6    10   745      745             0       1021     1001
3349 2013  7    21   741      740             1       1045     1055
3350 2013  3    28  1458     1505            -7       1643     1704
3351 2013  2     9    NA      720            NA         NA      845
3352 2013  4    16   843      850            -7       1214     1300
3353 2013  5    12   510      515            -5        749      800
3354 2013  1     7  1841     1845            -4       2134     2221
3355 2013  6     8   839      849           -10       1011     1012
3356 2013  1    31  2246     2250            -4       2335     2354
3357 2013  2    26   956     1000            -4       1130     1139
3358 2013  1    24  2022     1904            78       2204     2109
3359 2013 10     1  1659     1700            -1       1952     2017
3360 2013 10     7   920      930           -10       1017     1038
3361 2013  7    17   950     1003           -13       1115     1135
3362 2013  3    25  1323     1315             8       1521     1529
3363 2013  6    20   951      959            -8       1132     1201
3364 2013  6    13    NA     1706            NA         NA     1848
3365 2013 11    10   602      610            -8        839      855
3366 2013  1    18  1953     2000            -7       2100     2114
3367 2013  1    24  1220     1140            40       1457     1445
3368 2013  4    10  1448     1453            -5       1731     1751
     arr_delay carrier flight tailnum origin dest air_time distance hour minute
1      6       MQ      4674   N506MQ  LGA    CLE   77       419     18   30
2     92       B6       327   N644JB  EWR    MCO  123       937     17    9
3     -5       MQ      4449   N835MQ  JFK    DCA   51       213     21   25
4     -8       MQ      3709   N508MQ  EWR    ORD  105       719      7   55
5     45       UA      1165   N78866  EWR    LAX  335      2454     18   21
6     25       B6      1006   N316JB  JFK    BOS   40       187     12   50
7     27       DL       517   N359NB  EWR    MSP  177      1008      8   30
8     -9       AA       309   N4YRAA  LGA    ORD  111       733      8   30
9     17       MQ      3267   N505MQ  EWR    ORD  106       719      6    0
10   -14       B6       518   N346JB  JFK    BOS   33       187     10   26
11    -5       DL      1519   N389DA  EWR    SLC  279      1969     17   10
12    22       EV      4131   N24128  EWR    RIC   47       277     18   40
13     6       UA      1687   N73445  EWR    MCO  159       937     13   50
14   -28       9E      3330   N909XJ  JFK    DCA   39       213      8   40
15     8       B6       127   N570JB  EWR    MCO  123       937     11   29
16    65       MQ      3374   N806MQ  JFK    RDU   81       427     19   45
17    23       B6       647   N784JB  JFK    SFO  340      2586     17   32
18    -7       F9       837   N216FR  LGA    DEN  222      1620     17   30
19   -23       AA      1357   N5FRAA  JFK    SJU  197      1598      8   50
20    19       DL      2043   N344NB  JFK    ATL  121       760     13   59
21   -23       UA      1636   N76265  EWR    PBI  152      1023      7    0
22    53       DL      1435   N369NB  LGA    TPA  145      1010     19   35
23    19       UA      1506   N53441  EWR    LAS  334      2227      6   53
24    -4       AA       883   N4XMAA  EWR    DFW  215      1372     15    0
25    NA       EV      4195   N12122  EWR    BNA   NA       748     17   29
26    -3       AA      2223   N567AA  LGA    STL  152       888     16   55
27    15       EV      5716   N833AS  JFK    IAD   56       228      6    0
28    25       WN      2067   N912WN  EWR    HOU  190      1411     17   15
29   -25       EV      4297   N11150  EWR    DTW   77       488      7   56
30    -9       DL      1185   N344NW  EWR    SLC  279      1969     17   25
⋮    ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮    ⋮
3339  75       AA        85   N388AA  JFK    SFO  376      2586     15   30
3340   9       UA       680   N529UA  EWR    PBI  140      1023      7    0
3341  NA       9E      3375   N917XJ  JFK    SAT   NA      1587     16   59
3342  49       DL       141   N704X   JFK    SFO  372      2586     15   30
3343 -24       B6       625   N337JB  JFK    HOU  190      1428     12   15
3344  18       EV      4212   N14204  EWR    MSY  195      1167     20   53
3345 -26       EV      4895   N716EV  LGA    SAV  100       722      8   30
3346  -4       B6       739   N526JB  JFK    PSE  202      1617     23   52
3347 -25       DL        17   N195DN  JFK    LAX  308      2475     18   15
3348  20       DL       807   N322NB  EWR    ATL  124       746      7   45
3349 -10       VX        11   N839VA  JFK    SFO  341      2586      7   40
3350 -21       EV      4572   N13566  EWR    GSP   86       594     15    5
3351  NA       FL       850   N957AT  LGA    MKE   NA       738      7   20
3352 -46       AA      1357   N5FAAA  JFK    SJU  188      1598      8   50
3353 -11       UA      1591   N37252  EWR    IAH  198      1400      5   15
3354 -47       DL      2190   N378NW  JFK    MIA  156      1089     18   45
3355  -1       EV      5824   N21537  EWR    RIC   66       277      8   49
3356 -19       B6      1018   N708JB  JFK    BOS   32       187     22   50
3357  -9       UA       441   N427UA  LGA    ORD  119       733     10    0
3358  55       EV      4437   N15973  EWR    CLT   84       529     19    4
3359 -25       UA       512   N597UA  JFK    SFO  338      2586     17    0
3360 -21       B6       116   N353JB  JFK    SYR   42       209      9   30
3361 -20       FL       353   N957AT  LGA    CAK   60       397     10    3
3362  -8       EV      5148   N612QX  LGA    CVG   92       585     13   15
3363 -29       US      1277   N750UW  LGA    CLT   79       544      9   59
3364  NA       EV      5977   N14998  EWR    RDU   NA       416     17    6
3365 -16       AA      1103   N3HDAA  LGA    DFW  200      1389      6   10
3366 -14       US      2142   N958UW  LGA    BOS   38       184     20    0
3367  12       AA      1623   N3AJAA  EWR    MIA  139      1085     11   40
3368 -20       UA       752   N421UA  LGA    IAH  198      1416     14   53
     time_hour
1    2013-01-23 18:00:00
2    2013-08-22 17:00:00
3    2013-02-20 21:00:00
4    2013-08-11 07:00:00
5    2013-06-23 18:00:00
6    2013-01-24 12:00:00
7    2013-12-05 08:00:00
8    2013-05-22 08:00:00
9    2013-07-01 06:00:00
10   2013-10-23 10:00:00
11   2013-12-13 17:00:00
12   2013-11-03 18:00:00
13   2013-02-16 13:00:00
14   2013-03-03 08:00:00
15   2013-09-17 11:00:00
16   2013-12-08 19:00:00
17   2013-06-09 17:00:00
18   2013-07-21 17:00:00
19   2013-06-05 08:00:00
20   2013-03-23 13:00:00
21   2013-02-28 07:00:00
22   2013-11-19 19:00:00
23   2013-01-27 06:00:00
24   2013-04-02 15:00:00
25   2013-10-07 17:00:00
26   2013-11-06 16:00:00
27   2013-07-29 06:00:00
28   2013-10-08 17:00:00
29   2013-06-01 07:00:00
30   2013-03-22 17:00:00
⋮    ⋮
3339 2013-12-18 15:00:00
3340 2013-02-17 07:00:00
3341 2013-01-09 16:00:00
3342 2013-09-12 15:00:00
3343 2013-03-15 12:00:00
3344 2013-10-19 20:00:00
3345 2013-08-23 08:00:00
3346 2013-02-23 23:00:00
3347 2013-09-05 18:00:00
3348 2013-06-10 07:00:00
3349 2013-07-21 07:00:00
3350 2013-03-28 15:00:00
3351 2013-02-09 07:00:00
3352 2013-04-16 08:00:00
3353 2013-05-12 05:00:00
3354 2013-01-07 18:00:00
3355 2013-06-08 08:00:00
3356 2013-01-31 22:00:00
3357 2013-02-26 10:00:00
3358 2013-01-24 19:00:00
3359 2013-10-01 17:00:00
3360 2013-10-07 09:00:00
3361 2013-07-17 10:00:00
3362 2013-03-25 13:00:00
3363 2013-06-20 09:00:00
3364 2013-06-13 17:00:00
3365 2013-11-10 06:00:00
3366 2013-01-18 20:00:00
3367 2013-01-24 11:00:00
3368 2013-04-10 14:00:00